[2017-09-05 21:43] atanasster opened #1 "Differences with grommet/components/icons"
Are there differences with the icons included with grommet ?

Sorry for opening an issue on this question - please let me know if there is an alternative way to ask questions

[2017-09-05 21:47] karatechops commented on #1
@atanasster feel free to join us on our [Slack channel](http://slackin.grommet.io/)! The icons are being extracted to their own library. @alansouzati may be able to provide a clearer answer but this repo/package is in preparation for Grommet 2.0.

[2017-09-05 21:50] atanasster commented on #1
thanks, joined :)

[2017-09-06 01:35] RyanCCollins commented on #1
@atanasster to add a bit of context, Grommet 2.0 is a complete refactor of grommet.  We are taking it as an opportunity to reorganize the library and intend to remove the icons from the core library.  The icons, as far as I know, will remain the same but will be in their own separate library. Grommet 1.x will not be affected by this change.

I hope that this helps clarify!

P.S. in order to clear

[2017-09-06 01:35] #1 closed

[2017-09-06 02:09] atanasster commented on #1
@RyanCCollins - thank you very much for the info. I needed a few icons and went ahead implementing them in Grommet 1.xx, although icons 2.x code looks much nicer. Do you accept icons contributions, and if so - format 2.x, 1.x or both?

[2017-09-06 23:37] alansouzati commented on #1
@atanasster thanks for your interest in this project. This is our first official release using [styled-components](https://www.styled-components.com).

Contributions are definitely welcome. It is up to you which repo to contribute to. As @RyanCCollins said, we will be removing the icons from the core library very soon. So I would focus on new contributions on this repository.

We should probably w

[2017-09-16 20:00] RyanCCollins opened #2 "Better search tagging"
Love the new site!  Very clever 😄

As a frequent user of the old icon docs, one of my biggest pet peeves was that I could hardly ever find the icon I was looking for if I did not know the name of it.

For example, try finding a "Rocket" if you do not know that the icon is named "Deploy".  I'd like to propose that we add a tagging system to the new documentation site so that icons can be tagged wit

[2017-09-17 00:25] alansouzati commented on #2
Thanks for the kind words @RyanCCollins :)

That's a very good idea. In fact I've already started a similarity search in the site. But I got lazy to fill in all the synonyms for all the 521 icons 😅

I added to around 100. Do you want to chime in and help adding more? Just augment this [metadata](https://github.com/grommet/grommet-icons/blob/master/src/js/metadata.js) file and I will make sure to r

[2017-09-17 01:30] RyanCCollins commented on #2
Yea, I'd love to!

[2017-09-21 20:09] davrodpin opened #3 "Pulse icons, pulse!"
I have an icon suffering from a heart attack **right now** and its heart has to pulse back again!

I've tried to use grommet-icons along with the Pulse component from grommet, but found no much love.

[code]

Please, help me to save my icon!

[2017-09-26 16:35] dgennetten commented on #2
I think also the current sub-string match isn't ideal.  "edit" shouldn't associate "CreditCard"

[2017-09-26 19:43] dgennetten commented on #2
I have a PR with new tags added to icons listed in current metadata.js; fixed a couple typos.

[2017-09-27 04:12] RyanCCollins commented on #2
Nice thanks @dgennetten!

[2017-09-27 17:57] alansouzati commented on #2
hey @dgennetten thanks for you PR, I'm glad you are joining the effort. I will review it soon.

My idea is to keep the search match really simple. Although, I see your point that typing `edit` and seeing `CreditCard` may not be helpful, but I don't think it hurts either.

We have a bunch of icons that start with `Form`, so typing `subtract` should return `FormSubtract`. We could easily fix that by

[2017-09-27 18:07] dgennetten commented on #2
Thanks for the feedback @alansouzati. I think a policy -- driven by simplicity -- that gives a slight overreach (edit->CreditCard) is better than underreach.  Up can be considered a match for Down if you ultimately searching for direction icons (note, btw, that I added 'direction' and 'arrow' to all icons having any association with either).

A long time ago, I suggested that we put our icons on p

[2017-09-27 20:13] alansouzati commented on #3
Good point. We are currently evaluating the use of Pulse for Grommet 2.0. In the meantime we recommend using Grommet 1.x icons if you want to use Pulse.

[2017-09-27 20:26] alansouzati commented on #2
Agree with typing `direction` should return `up`, `down`, ...

love that, let's start with this for now (we can always revisit this later if we feel the need for a better search algorithm).

[2017-09-27 23:18] davrodpin commented on #3
Thanks, @alansouzati. I will be switching to Grommet 1.x icons soon.

[2017-10-03 20:13] dgennetten opened #10 "Escalaton-->Escalation fix misspell."

[2017-10-03 20:16] dgennetten commented on #10
I assume this is 'escalator' but it could also be 'escalation'?

[2017-10-05 21:07] Serexx opened #13 "List Icon ?"
'Return to List' is a common need in CRUD ops - typically we've used a 'bulleted list' icon to represent that action. It is normally similar to the existing Grommet-Icons Task Icon but with bullets rather than checkmarks. Would love to have one in this library!

[2017-10-05 21:29] dgennetten commented on #13
How about the Sort icon? http://grommet.io/grommet-icons/?s=Sort

[2017-10-06 02:00] Serexx commented on #13
Thanks looked at them, but their intent seems clear and in our context would likely cause some confusion were we to then use them to provide list sorting. For now we are using the 3-bar 'Menu' ('hamburger') icon and adding a label. There is less potential for misinterpretation as its only other use is in the navigation sidebar, in smaller view ports. That said, we think a separate 'list' icon woul

[2017-10-07 17:15] alansouzati commented on #10
let me check this with @L0ZZI

[2017-10-07 17:16] alansouzati commented on #13
hey @Serexx would you have an image of the image that you can upload here so that we can evaluate?

[2017-10-07 19:15] atanasster opened #14 "Rotate Left Icon"
@alansouzati asked me to enter each requested icon here, apologies in advance for filing multiple feature requests

const RotateLeft = props => (
  <Icon viewBox='0 0 24 24' a11yTitle='Rotate left' {...props}>
    <path fill='none' stroke='#000' strokeWidth='2' d="m3.11111,7.55556c1.55844,-3.28855 4.95892,-5.55556 8.88889,-5.55556c5.52285,0 10,4.47715 10,10c0,5.52285 -4.47715,10 -10,10l0,0c-5.5228

[2017-10-07 19:15] atanasster opened #15 "Rotate Right icon"
const RotateRight = props => (
  <Icon viewBox='0 0 24 24' a11yTitle='Rotate right' {...props}>
    <path fill='none' stroke='#000' strokeWidth='2' d='m20.88889,7.55556c-1.55844,-3.28855 -4.95892,-5.55556 -8.88889,-5.55556c-5.52285,0 -10,4.47715 -10,10c0,5.52285 4.47715,10 10,10l0,0c5.52285,0 10,-4.47715 10,-10m0,-8l0,4l-4,0m-9,8' />
  </Icon>
);

[2017-10-07 19:16] atanasster opened #16 "Text Align Center"
const TextAlignCenter = props => (
  <Icon viewBox='0 0 24 24' a11yTitle='Align center' {...props}>
      <g stroke="none" strokeWidth="1" fill="#000000" fillRule="evenodd">
        <path d="M11.5558696,14.8871739 L3.38804348,14.8871739 C3.20804348,14.8871739 3.06195652,14.741087 3.06195652,14.561087 C3.06195652,14.381087 3.20804348,14.235 3.38804348,14.235 L11.5552174,14.235 C11.7352174,14.235 11

[2017-10-07 19:16] atanasster opened #17 "Text Align Justify"
const TextAlignFull = props => (
  <Icon viewBox='0 0 24 24' a11yTitle='Align full' {...props}>
      <g stroke="none" strokeWidth="1" fill="#000000" fillRule="evenodd">
        <path d="M14.6191304,14.8878261 L0.326086957,14.8878261 C0.146086957,14.8878261 0,14.7417391 0,14.5617391 C0,14.3817391 0.146086957,14.2356522 0.326086957,14.2356522 L14.6191304,14.2356522 C14.7991304,14.2356522 14.9452174

[2017-10-07 19:16] atanasster opened #18 "Text Align Left"
const TextAlignLeft = props => (
  <Icon viewBox='0 0 24 24' a11yTitle='Align left' {...props}>
      <g stroke="none" strokeWidth="1" fill="#000000" fillRule="evenodd">
        <path d="M8.49326087,14.8871739 L0.326086957,14.8871739 C0.146086957,14.8871739 0,14.741087 0,14.561087 C0,14.381087 0.146086957,14.235 0.326086957,14.235 L8.49326087,14.235 C8.67326087,14.235 8.81934783,14.381087 8.819347

[2017-10-07 19:17] atanasster opened #19 "Text Align Right"
const TextAlignRight = props => (
  <Icon viewBox='0 0 24 24' a11yTitle='Align right' {...props}>
      <g stroke="none" strokeWidth="1" fill="#000000" fillRule="evenodd">
        <path d="M14.6178261,14.8871739 L6.45065217,14.8871739 C6.27065217,14.8871739 6.12456522,14.741087 6.12456522,14.561087 C6.12456522,14.381087 6.27065217,14.235 6.45065217,14.235 L14.6178261,14.235 C14.7978261,14.235 14.9

[2017-10-07 19:18] atanasster opened #20 "Text Style - Bold"
const Bold = props => (
  <Icon viewBox='0 0 24 24' a11yTitle='Bold' {...props}>
      <path d="M6.2364,0 C7.8876,0 9.1764,0.297916667 10.1016,0.892666667 C11.0268,1.4885 11.49,2.37791667 11.49,3.562 C11.49,4.16325 11.3172,4.70058333 10.974,5.17291667 C10.6308,5.64633333 10.1304,6.00275 9.4752,6.24 C10.3176,6.40683333 10.9488,6.76325 11.37,7.31141667 C11.7888,7.86066667 12,8.49441667 12,9.21375 C1

[2017-10-07 19:18] atanasster opened #21 "Text Style - Italic"
const Italic = props => (
  <Icon viewBox='0 0 24 24' a11yTitle='Italic' {...props}>
      <path fill='none' stroke='#000' strokeWidth='1' d="M7,3V2h4v1H9.753l-3,10H8v1H4v-1h1.247l3-10H7z"/>
  </Icon>
);

[2017-10-07 19:19] atanasster opened #22 "Text Style - Monospace"
const Monospace = props => (
  <Icon viewBox='0 0 24 24' a11yTitle='Bold' {...props}>
      <g stroke="none" strokeWidth="1" fill="#444444" fillRule="evenodd">
          <path d="M1.02142857,2.90625 C1.20714286,4.125 1.39285714,4.40625 1.39285714,5.625 C1.39285714,6.375 0,7.03125 0,7.03125 L0,7.96875 C0,7.96875 1.39285714,8.625 1.39285714,9.375 C1.39285714,10.59375 1.20714286,10.875 1.02142857,12.

[2017-10-07 19:19] atanasster opened #23 "Text Style - Underline"
const Underline = props => (
  <Icon viewBox='0 0 24 24' a11yTitle='Underline' {...props}>
      <g fill='none' stroke='#000' strokeWidth='1'>
    		<path d="M6.045,2v0.992L4.785,3v5.172c0,0.859,0.243,1.512,0.727,1.957s1.124,0.668,1.918,0.668c0.836,0,1.509-0.221,2.019-0.664
		c0.511-0.442,0.766-1.096,0.766-1.961V3l-1.26-0.008V2h2.784H13v0.992L11.739,3v5.172c0,1.234-0.398,2.181-1.195,2.84
		C9.747,

[2017-10-07 19:20] atanasster opened #24 "Text Style - StrikeThrough"
const StrikeThrough = props => (
  <Icon viewBox='0 0 24 24' a11yTitle='Bold' {...props}>
    <g stroke="none" strokeWidth="1" fill="#000000" fillRule="evenodd">
        <path d="M4.04006836,5.95438409 L10.2546386,5.95438409 C10.0483301,5.81956818 9.78342776,5.67325909 9.45999026,5.51578182 C8.88032224,5.25714091 8.39765625,5.07150682 8.01284179,4.95908637 C6.82523437,4.61050909 6.04734375,4.24769

[2017-10-07 19:21] atanasster opened #25 "Text Style - Subscript"
const Subscript = props => (
  <Icon viewBox='0 0 24 24' a11yTitle='Bold' {...props}>
      <g transform="matrix(0.034568000584840775, 0, 0, 0.03416900336742401, 0, 0)">
        <path d="M343.273,340.824h-81.179l-92.379-108.377L79.429,340.824H0l130.864-148.187L6.295,52.792H86.43l86.797,101.388&#10;&#9;&#9;l87.461-101.388h76.639L211.352,192.637L343.273,340.824z M393.154,401.06l52.86-40.034c18.542-1

[2017-10-07 19:22] atanasster opened #26 "Text Style - Superscript"
const Superscript = props => (
  <Icon viewBox='0 0 24 24' a11yTitle='Bold' {...props}>
      <g transform="matrix(0.03456100076436997, 0, 0, 0.03262700140476227, 0, 0)">
            <path d="M211.357,311.56l131.922,148.188h-81.178l-92.38-108.379L79.435,459.748H0L130.861,311.56L6.301,171.714h80.135&#10;&#9;&#9;l86.794,101.391l87.47-101.391h76.639L211.357,311.56z M391.736,211.36l54.373-40.033c18.54

[2017-10-07 19:22] atanasster opened #27 "Ordered List"
const OrderedList = props => (
    <Icon viewBox='0 0 24 24' a11yTitle='List' {...props}>
        <g stroke="none" strokeWidth="1" fill="#000000" fillRule="evenodd">
            <path d="M4.20193416,1.46573801 L12.3524043,1.46573801 C12.6899969,1.46573801 12.9636897,1.14356826 12.9636897,0.746180812 C12.9636897,0.348793358 12.6899969,0.0266236163 12.3524043,0.0266236163 L4.20193416,0.0266236163 C3

[2017-10-07 19:23] atanasster opened #28 "Unordered List"
const UnorderedList = props => (
  <Icon viewBox='0 0 24 24' a11yTitle='List' {...props}>
        <g stroke="none" strokeWidth="1" fill="#000000" fillRule="evenodd">
            <path d="M1.72081633,3.42708333 C2.67102041,3.42708333 3.44163265,2.65902778 3.44163265,1.71921296 C3.44163265,0.779398148 2.67102041,0.00810185185 1.72081633,0.00810185185 C0.770612245,0.00810185185 0,0.776157407 0,1.7159

[2017-10-07 19:23] atanasster opened #29 "Text Style - Blockquote"
const BlockQuote = props => (
  <Icon viewBox='0 0 24 24' a11yTitle='List' {...props}>
      <path d="M6 17h3l2-4V7H5v6h3zm8 0h3l2-4V7h-6v6h3z" />
      <path d="M0 0h24v24H0z" fill="none" />
  </Icon>
);

export default BlockQuote;

[2017-10-08 10:14] atanasster opened #30 "Undo"
Undo icon

[2017-10-08 10:14] atanasster opened #31 "Redo"
Redo icon

[2017-10-08 16:16] atanasster opened #32 "Insert Emoji icon"
![screenshot620](https://user-images.githubusercontent.com/6075606/31318553-2a66018a-ac5d-11e7-8bec-e95ba4726196.jpg)

[2017-10-10 13:45] dgennetten opened #34 "Add js icon."

[2017-10-10 14:39] dgennetten opened #35 "Icon dupe: schedule.js and plan.js. Remove plan. Schedule alias includes 'plan'."

[2017-10-10 16:56] alansouzati commented on #35
that is true! thanks for identifying this. I will chat with @L0ZZI  today about it and see which one we should keep.

[2017-10-11 02:37] Serexx commented on #13
Easiest may be to go to icomoon.io
[here](https://icomoon.io/app/#/select)
and search for 'list' - there are several versions from various libraries (ordered and unordered lists) some are free others are not (click an icon in a library to find which is which) - I've preferred the 'Feather', 'Material' or 'Font Awesome' versions - Once you select an icon the Raw SVG is available through the 'Genera

[2017-11-02 23:14] #29 closed

[2017-11-02 23:14] #20 closed

[2017-11-02 23:14] #32 closed

[2017-11-02 23:14] #21 closed

[2017-11-02 23:14] #22 closed

[2017-11-02 23:14] #27 closed

[2017-11-02 23:14] #31 closed

[2017-11-02 23:14] #14 closed

[2017-11-02 23:14] #15 closed

[2017-11-02 23:14] #24 closed

[2017-11-02 23:15] #25 closed

[2017-11-02 23:15] #26 closed

[2017-11-02 23:15] #16 closed

[2017-11-02 23:15] #17 closed

[2017-11-02 23:15] #18 closed

[2017-11-02 23:15] #19 closed

[2017-11-02 23:15] #23 closed

[2017-11-02 23:15] #30 closed

[2017-11-02 23:15] #28 closed

[2017-11-27 23:09] L0ZZI commented on #10
I thought it was "escalator" but I could be wrong. These were created for way finding at events. I would think escalation would be a different icon.

[2017-11-27 23:11] alansouzati commented on #10
cool. @dgennetten can you rename it to "escalator" ? 👍

[2017-11-27 23:12] dgennetten commented on #10
sure.

—Douglas

On Mon, Nov 27, 2017 at 4:11 PM, Alan Souza <notifications@github.com>
wrote:

[2017-12-06 19:28] slipperypenguin opened #46 "TypeError: (0 , _styledComponents.css) is not a function"
Hello, I'm using `grommet-icons` in a file that is causing my Jest tests to fail. The tests pass when the component that is using `grommet-icons` is removed and the error I'm receiving from Jest traces back to a file inside the `grommet-icons` node_module. Everything seems to work fine outside of the tests.

## Version
grommet-icons: 0.14.0,
styled-components: 2.2.4,
babel-plugin-styled-components

[2017-12-07 21:47] slipperypenguin commented on #46
Just figured out a solution [here](https://facebook.github.io/jest/docs/en/webpack.html#mocking-css-modules)

Looks like it was an issue with mocking css modules in Jest.
In `package.json`:

### Old Setup
[code]

### New Setup
[code]

[2017-12-07 21:47] #46 closed

[2017-12-08 19:27] obfuscatedgeek opened #47 "Phone / Call / Mobile Icon"
Awesome set of icons. Icon for signifying phone calls would be awesome.

[2017-12-14 01:29] smooJitter opened #48 "Icon source in React"
I’m using react-native-vector icon.   Is there a way to acces the icon source instead of calling icon components?

[2018-01-17 19:36] cherih opened #49 "OSRB - add licensing files to the release files"
For OSRB purposes, need to include the following files with each release:
- licenses.json
- src-with-dependencies.tgz

[2018-01-17 23:55] ericsoderberghp commented on #49
This is something that HPE should capture and publish outside of npm.

[2018-02-21 21:21] atanasster opened #50 "Console Warning in latest release"
Warning: Failed context type: Icon: context type undefined is invalid; it must be a function, usually from theprop-typespackage, but received undefined.

    in Icon (created by Bitcoin)
    in Bitcoin
    in div (created by StyledBox)

[2018-02-22 04:47] alansouzati commented on #50
im working on this now.

[2018-02-22 05:43] alansouzati commented on #50
fixed. 0.16.0 released

https://github.com/grommet/grommet-icons/releases/tag/v0.16.0

[2018-02-22 05:43] #50 closed

[2018-07-09 22:15] nogever opened #53 "Size and color seems broken or incomplete."
The `size` and `color` props seems broken or incomplete.
Here's code: https://codesandbox.io/s/0x65rprz9l
and screenshot
<img width="800" alt="screen shot 2018-07-09 at 6 14 41 pm" src="https://user-images.githubusercontent.com/3888294/42478770-fbcc6124-83a3-11e8-9640-4fb2070e8007.png">

No `'medium'` size and no theme colors like 'brand' and 'status-critical'
Or is this not how I am supposed to u

[2018-07-09 22:59] ericsoderberghp commented on #53
Colors like 'brand' and 'status-critical' are grommet colors. So, you would need to be using the icons inside a `<Grommet />` context.

Regarding sizes, grommet-icons only comes with 'large' and 'xlarge'. If a size is not specified, that will be the equivalent of 'medium'. We don't use smaller sizes because most of the icons don't scale well below 24px.

[2018-07-27 14:34] djalmaaraujo opened #55 "Blog and Bluetooth icons are switched"
![image](https://user-images.githubusercontent.com/3402/43327173-99c34a5c-91b2-11e8-9f56-98ec37c002a5.png)

Blog is bluetooth and bluetooth is blog here: http://grommet.io/grommet-icons/

:)

[2018-07-27 14:36] djalmaaraujo opened #56 "Blank and accessibility weird"
I am almost sure that the blank icon is wrong, right?

![image](https://user-images.githubusercontent.com/3402/43327267-dab6eb04-91b2-11e8-8b03-f40b8b662768.png)

Issue found here: http://grommet.io/grommet-icons/

:)

[2018-07-27 14:46] djalmaaraujo commented on #56
Closing, re-opened at https://github.com/grommet/grommet-icons-site.

[2018-07-27 14:46] #56 closed

[2018-07-27 14:46] djalmaaraujo commented on #55
Closing, re-opened at https://github.com/grommet/grommet-icons-site

[2018-07-27 14:46] #55 closed

[2018-08-10 19:01] RyanCCollins commented on #53
@nogever && @ericsoderberghp

I've been chatting with Eric about this issue, it turns out that this is a problem we are facing in OneSphere, the result being that icons that are rendered by controls (i.e. Menu) ignore the theme.  In our app, we are extending the HPE theme with a few custom properties.  The result is that the icons ignore the color prop and render as gray even when given the brand

[2018-08-11 00:41] ericsoderberghp commented on #53
This appears to be related to three things:
- updating react and react-dom to 16.4 to pick up a fix for a context issue
- updating grommet-icons to 2.0.0
- using the `import { Add } from 'grommet-icons';` import format
If these three are followed, things work correctly. I am still investigating why #3 is necessary.

[2018-08-29 04:31] atanasster opened #58 "Blank icon location"
The Blank icon seems needs to be moved into the icons folder. Blank is listed on the icons-site as a regular icon, and the import docs there it can be imported as a regular icon, however it can not be imported using the transform-imports plugin.

[2018-08-29 05:50] alansouzati commented on #58
Good point. Let me change this tomorrow.

[2018-08-31 17:30] atanasster opened #59 "Icon location"
Possibly move `<Icon />` to icons, I am using it when creating my own icons in a project and can not import it correctly with transform-imports

[2018-08-31 23:07] srockk opened #60 "CodePen doesn't work with v. 3.0.0"
If I inject grommet-icons v3.0.0, the codepen doesn't work.

[2018-09-01 03:37] alansouzati commented on #60
what do you mean by that?

here is a codesandbox using grommet-icons v3.

https://codesandbox.io/s/n76n29o430

Do you have the link to the codepen? We are not actually using codepen internally anymore since it does not support the concept of modules.

[2018-09-04 14:26] srockk commented on #60
Thank you for the response. When I tried to inject grommet-icons v3. the codesandbox didn't boot up. But now it's working for me. I'll close the issue.

[2018-09-04 14:26] #60 closed

[2018-09-26 11:02] nomadus opened #63 ""export 'ThemeContext' (imported as 'IconThemeContext') was not found in 'grommet-icons'"
After I installed grommet-icons and tried to use Spinning icon it gave me the following error. What has to be added?

./node_modules/grommet-controls/node_modules/grommet/es6/components/Grommet/Grommet.js
112:8-24 "export 'ThemeContext' (imported as 'IconThemeContext') was not found in 'grommet-icons'

[2018-09-26 11:12] #63 closed

[2018-09-26 11:14] nomadus commented on #63
This probably not relevant issue, should be opened against grommet-controls

[2018-09-26 11:27] atanasster commented on #63
@nomadus, you need to install the latest beta version of grommet-icons, the exports have been changing recently

[2018-09-26 11:43] nomadus commented on #63
Thanks, I have another project where it works with the following packages
    "grommet": "^1.10.1",
    "grommet-addons": "^0.6.0",
    "grommet-controls": "^0.26.3",
    "grommet-icons": "^0.14.0",

Where could I get the beta version?

[2018-09-26 12:11] atanasster commented on #63
very strange - i have not tried grommet-controls with grommet version 1 - its intended for use with grommet 2. And recently grommet 2 and grommet-icons have undergone serious refactoring to account for tree-shaking.
The beta is `grommet-icons@3.1.0-beta.1`

What I am using in my projects is:

[code]

[2018-10-19 21:05] ericsoderberghp opened #65 "Fix dependency warning about code coverage test reporter"
Currently, when installing dependencies for projects using grommet, the following warning is displayed:

[2018-10-23 06:22] coccyx opened #66 "Default theme only includes large and xlarge sizes"
May be a duplicate of #53.

In Grommet v1, there were a variety of options for Icon size: `size     xsmall|small|medium|large|xlarge|huge`, but grommet-icons only includes `large` and `xlarge` by default, forcing me to create a custom theme provider simply to get basic size support. Seems like the default theme could at least include a variety of sizes: https://github.com/grommet/grommet-icons/blo

[2018-10-25 22:56] #66 closed

[2018-10-26 12:03] atanasster opened #68 "New folders structure"
The new folder structure is not working for `<Blank />` and `<Icon />` but also breaks existing imports - all it does is move the icons into a new components folder (breaking change) while Blank and Icon are still in a different folder and will get imported from es5 files
![screenshot771](https://user-images.githubusercontent.com/6075606/47565085-edbbd380-d92f-11e8-9753-4f212c8c9a08.jpg)

[2018-10-27 12:17] dmcclurealinta opened #69 "React typescript project with Grommet v2 causes grommet-icons to not treeshake"
**Issue:**
Typescript React project with Grommet 2.0 doesn't treeshake grommet-icons, causing the package to be 70% taken up with grommet-icons.

**Built with:**
Webpack 4x

**Replicate:**
CRA with typescript, add grommet + grommet-icons(peer-dep), import any component like `import { Grid } from 'grommet/components/Grid';` run a build and then inspect the minified bundle with source-map-explorer,

[2018-10-29 16:17] alansouzati commented on #69
are you declaring modules false in your babel config?

[2018-10-29 17:13] alansouzati commented on #69
Yeah I just tried this in a repo. I was doing `import { grommet } from "grommet/themes"`, this is the culprit when doing Webpack 4 tree shaking. We are manually specifying we want the CommonJS distribution.

I've changed `import { grommet } from "grommet/themes"` to `import { grommet } from "grommet/es6/themes"` and it works fine after that.

Another possible option is to do like follows:

`import

[2018-10-29 17:13] #69 closed

[2018-10-29 21:57] dmcclurealinta commented on #69
import { grommet } from "grommet/themes" relates to grommet v1, in this instance I'm not bothering with that. I'll double check against babel-plugin-transform-imports to see if it will treeshake, but the ts compiler might be interfering with that also. I'll report back here when I complete.

[2018-10-29 22:05] alansouzati commented on #69
I dont think so.

[2018-10-31 18:35] #65 closed

[2018-10-31 18:35] #68 closed

[2018-10-31 18:35] #59 closed

[2018-10-31 18:35] #58 closed

[2018-10-31 18:35] ericsoderberghp opened #71 "Ignore code-climate duplication errors"
We don't think we can avoid the code duplication errors from code-climate. We should ignore them so they aren't noisy.

[2018-10-31 18:36] #53 closed

[2018-11-02 16:11] alexlee-dev opened #72 "Search Function on Landing Page Does Not Work"
I believe the state is being reset when the header at the top refreshes. Try searching for Group, and it doesn't give you group. But search for User and it gives you Group.

[2018-11-02 16:31] ericsoderberghp commented on #72
Thanks for reporting this. I think this is probably an issue for https://github.com/grommet/grommet-icons-site.

[2018-11-02 18:18] alexlee-dev commented on #72
Shoot, you're right. Thanks. I'll close this and open another one one that repo.

[2018-11-02 18:18] #72 closed

[2018-11-10 10:59] uyouthe opened #73 "RegExps are not sanitized"
I just entered a question mark in search bar and it broke the whole website. So it went all white, I've opened a console and seen this:
[code]

[2018-11-10 13:51] ericsoderberghp commented on #73
Thanks for reporting this.

This was an issue with grommet-icons-site. Fixed in https://github.com/grommet/grommet-icons-site/commit/7f0fbb066bb076e263f6ae65509a6572a4ee71d6.

[2018-11-10 13:51] #73 closed

[2018-11-16 19:39] ShimiSun opened #74 "Build instructions for dist"
`npm run dist` is failing on a clean run

➜  grommet-icons git:(master) ✗ npm run dist
npm ERR! missing script: dist
npm ERR!
npm ERR! Did you mean one of these?
npm ERR!     lint
npm ERR!     test

npm ERR! A complete log of this run can be found in:
npm ERR!     /Users/shimi/.npm/_logs/2018-11-16T19_38_21_496Z-debug.log

[2018-11-25 20:53] banada commented on #2
Not sure if this is part of this issue:

If you try to search 'Login', you get a result for 'Logi' but not the full 'Login'.

[2018-11-26 05:54] ShimiSun commented on #2
@banada Thanks for catching this issue. 💯
It seems like a different issue than this thread, and it should be filed as a separate issue on [grommet-icons-site](https://github.com/grommet/grommet-icons-site/issues), particularly on the search component itself (rather than the metadata).
Feel free to file one.

[2018-11-28 19:18] ShimiSun commented on #74
Fixed

[2018-11-28 19:18] #74 closed

[2018-11-28 19:21] ShimiSun commented on #34
@dgennetten we got https://grommet.io/grommet-icons/?s=javascript, will that work?

[2018-11-28 19:23] ShimiSun commented on #47
Any of these one works?

![screen shot 2018-11-28 at 12 22 39 pm](https://user-images.githubusercontent.com/6320236/49176612-67b4f300-f308-11e8-87db-c2dc7dadb381.png)

[2018-11-28 19:49] ShimiSun commented on #47
Or one of these

![screen shot 2018-11-28 at 12 48 55 pm](https://user-images.githubusercontent.com/6320236/49178080-10188680-f30c-11e8-99a6-7cfd660d8227.png)

[2018-11-28 19:51] ShimiSun commented on #47
![screen shot 2018-11-28 at 12 50 47 pm](https://user-images.githubusercontent.com/6320236/49178178-4eae4100-f30c-11e8-8420-2b41187d7d75.png)

[2018-12-01 12:01] tjackadams commented on #47
Hi @ShimiSun,

I can't speak for @obfuscatedgeek  but would it be possible just to have a normal phone icon such as

![image](https://user-images.githubusercontent.com/2307314/49327990-bbba1480-f560-11e8-837b-f6d49725a592.png)

taken from https://material.io/tools/icons/?search=phone&style=baseline

[2018-12-03 16:59] ShimiSun commented on #47
@L0ZZI ⬆️

[2018-12-03 17:52] dgennetten commented on #47
@lozzi, if you good with this, pull me in and back up to speed on the process for adding a new icon. I can take this on going forward if you like.

[2018-12-05 07:07] agstover opened #78 "Can't resolve 'grommet-icons/es6/contexts/ThemeContext'"
I'm using a Create React App. I ran 'yarn add grommet grommet-icons styled-components polished' as per the instructions for adding Grommet to existing project.

I created an HOC

`import React from 'react'
import {Grommet} from 'grommet'

const theme = {
    global: {
      font: {
        family: 'Roboto',
        size: '14px',
        height: '20px',
      },
    },
  };

function withTheme(Comp

[2018-12-09 23:06] MadRabbit opened #80 "TypeScript support please!"
Ohi, could you please drop in TS support? Thanks :)

[2018-12-17 17:46] progmem64 opened #81 "QR-Code icon"
QR-Code icon needed -> something like (with less complexity): [https://iconmonstr.com/qr-code-1-svg/](https://iconmonstr.com/qr-code-1-svg/).

[2019-01-04 19:17] shai32 opened #83 "Grommet-icons does not support webpack tree shaking"
I Only imported 5 icons, but it adds 500kb to my bundle size

the package should support tree shaking. so only the imported icons will be added to the bundle.
notice that I am importing only the icons I am using
e.g: import { AddCircle } from 'grommet-icons/icons/AddCircle';

![image](https://user-images.githubusercontent.com/16700996/50706225-e0c10c00-1065-11e9-9e4f-20d2e81a2b2d.png)

[2019-01-04 19:31] ericsoderberghp commented on #83
Hmm... I know we've tested tree shaking via: `import { AddCircle } from 'grommet-icons'. Have you tried that?

[2019-01-05 18:49] shai32 commented on #83
yes also tested with `import { AddCircle } from 'grommet-icons'
same issue

[2019-01-10 18:44] #3 closed

[2019-01-15 11:23] shai32 commented on #83
?

[2019-01-17 11:15] nomadus opened #84 "Apple Store and Google Play icons"
Please add Apple Store and Google Play icons as they are missing

[2019-01-23 14:16] shai32 commented on #83
?

[2019-01-29 23:11] srallen opened #87 "Export a basic Icon in grommet-icons v4"
Note: initially posted: https://github.com/grommet/grommet/issues/2689

Expected Behavior
v1 of Grommet provided a base generic Icon component, then when the grommet-icons package was extracted out, it was still available there, although undocumented. The base Icon component is useful for any custom SVG logos an app might have, like a brand logo, but still making sure it inherits the Grommet theme

[2019-01-29 23:31] ericsoderberghp commented on #87
Did you try using `Blank`?

[2019-01-31 08:13] jasonchuah4 opened #88 "Grommet Icon Site couldn't filter the icon I want"
The site [https://grommet.github.io/grommet-icons/](https://grommet.github.io/grommet-icons/) couldn't filter out the icon I am looking for. I typed the keyword in the search bar but there is no respond from the browser.

Browser tested: Chrome, Edge
OS: Windows 10

[2019-01-31 22:33] ShimiSun commented on #88
@jasonchuah4 Please use this site: https://icons.grommet.io/
It works for me.

Feel free to let me know where you found this link so we can fix the path.

[2019-02-04 08:19] shai32 commented on #83
?

[2019-02-04 14:24] atanasster commented on #83
@ericsoderberghp @ShimiSun
if a project is not set up for tree shaking, `grommet` itself forces importing all icons from `grommet-icons`. As the screenshot above suggests, both `grommet` and `grommet-icons` are not 'tree-shaken'  - for my nextjs apps even with webpack 4, grommet and grommet-icons are not automatically tree shaken.

I think this problem will come about more often as more sophistica

[2019-02-04 17:52] ShimiSun commented on #83
we need to take a closer look at this issue, thanks for the details

[2019-02-04 18:03] ShimiSun commented on #84
asked Greg to help out

[2019-02-05 00:02] gregfuruiye commented on #84
sent out an email request to the design team

[2019-02-05 04:30] L0ZZI commented on #84
https://github.com/grommet/grommet-icons/pull/89

[2019-02-05 08:19] alexeikaratai commented on #83
the same problem. I don't import no one icon, but all icons are in bunlde js. How to remove it from my bundle ?

[2019-02-05 16:32] ShimiSun commented on #84
@L0ZZI thanks! @gregfuruiye FYI.

[2019-02-05 16:32] #84 closed

[2019-02-05 21:54] #88 closed

[2019-02-06 03:11] jasonchuah4 commented on #88
@ShimiSun sorry for the late reply. The wrong link is inside this git repository README.MD [https://github.com/grommet/grommet-icons#usage](https://github.com/grommet/grommet-icons#usage), on the line of "Visit our _site_ for more icons."

[2019-02-06 03:33] atanasster commented on #83
Possibly in the section ‘Start coding’ on the home page have a note on importing components from their own folder if tree shaking is not enabled with a small code snippet?

[2019-02-06 03:49] ShimiSun commented on #83
not sure it will fit on the home page, I couldn't find import refs there to potentially add a note, and we are trying to keep the page light for both design and dev, while this info may be too technical.
It might be a better option to expose in our Github readme pages like https://github.com/grommet/grommet-starter-new-app.

[2019-02-06 03:51] atanasster commented on #83
Yes, that would be good too, just someplace to point users to

[2019-02-06 21:32] ShimiSun commented on #88
@jasonchuah4 good catch! it is fixed, thanks for the info.

[2019-02-07 22:46] ShimiSun commented on #80
#90

[2019-02-07 22:46] #80 closed

[2019-02-08 00:05] L0ZZI commented on #13
Updated https://github.com/grommet/grommet-icons/pull/91

[2019-02-08 00:06] L0ZZI commented on #34
PR pending, https://github.com/grommet/grommet-icons/pull/91

[2019-02-08 00:06] L0ZZI commented on #47
PR pending, https://github.com/grommet/grommet-icons/pull/91

[2019-02-08 00:06] L0ZZI commented on #81
PR pending, https://github.com/grommet/grommet-icons/pull/91

[2019-02-08 00:06] L0ZZI commented on #35
PR pending, https://github.com/grommet/grommet-icons/pull/91

[2019-02-08 17:06] mikelax opened #93 "Replace Instagram Logo with correct black and white and color versions"
# Overview

Currently the Grommet icons [Instagram logo](https://icons.grommet.io/?s=instagram) is using an orange color. This should be swapped with the Logo in the [IG Brand Guidelines](https://en.instagram-brand.com/assets)

As a bonus a second logo could be added for the rainbow colored Logo as well. The name could be:  `InstagramColor`.

[2019-02-08 18:23] L0ZZI commented on #93
thanks @mikelax for the feedback. I've made the change to the instagram logo so their is a gradient version in the icon library, keep in mind that instagram recommends the black version of the logo since the gradient they use is more of a mesh (a fill type that's a little more complicated) than linear or radial. So I made a change so it will work with a radial.

![instagram](https://user-images.gi

[2019-02-08 19:16] #93 closed

[2019-02-08 19:59] #13 closed

[2019-02-08 19:59] #34 closed

[2019-02-08 20:00] L0ZZI commented on #34
https://icons.grommet.io/?s=js

[2019-02-08 20:01] L0ZZI commented on #13
https://icons.grommet.io/?s=list

[2019-02-08 20:01] L0ZZI commented on #81
https://icons.grommet.io/?s=qr

[2019-02-08 20:01] #81 closed

[2019-02-08 20:02] L0ZZI commented on #47
https://icons.grommet.io/?s=phone

[2019-02-08 20:02] #47 closed

[2019-02-08 20:03] L0ZZI commented on #35
Updated the schedule icon to a date number. See, https://icons.grommet.io/?s=schedule

[2019-02-08 20:03] #35 closed

[2019-02-13 22:57] oorestisime commented on #83
So to recap here:

Tree shaking support was added with latest release and it greatly improves previous state of things.
There's still one issue (duplicated icons in bundle) left and this occurs when user imports icons that are also imported by the grommet core package itself.
This happens for a handful of packages and I am inclined to say it is not of a critical issue (still a bug though). To work

[2019-02-13 23:29] atanasster commented on #83
Its almost correct - v2 had what is called webpack 4?tree shaking support by having the setting sideEffects turned off in package.json. Thats about it,  othing special.

The problem arose because grommet 2 assumes everyone is using webpack 4, which the users reporting thise bugs did not. What was fixed was importing gromet icons to avoid loading all of the icons if webpack 4 is NOT used.
What is n

[2019-02-13 23:47] atanasster commented on #83
The little bit of documentation that i thought should be on the grommet site is this clarification on imports https://grommet-nextjs.herokuapp.com/get-started

Clearly the original posters are also importing the entire grommet library because they are following the grommet site/ samoles but are not on webpack 4 |do not have tree shaking enabled

[2019-02-22 22:04] ShimiSun commented on #49
pretty sure we can close this one. @MikeWalrath, feel free to reopen if this is a valid requirement and we have the right content to publish.

[2019-02-22 22:04] #49 closed

[2019-02-22 22:08] ShimiSun commented on #2
Since we significally improved the searc functionality, I'll be closing this issue. feel free to enhance the metadata as you think needed.

[2019-02-22 22:08] #2 closed

[2019-02-22 22:12] banada commented on #2
Great, thank you!

On Fri, Feb 22, 2019, 2:08 PM Shimi <notifications@github.com> wrote:

[2019-03-02 11:47] robinmetral opened #99 "Coffee bean icon? ☕"
I know this is typically not an icon that's included in sets, but I thought I'd simply ask:

I'm looking for something like [this](https://thenounproject.com/icon/1886493/), but with more of a grommet-icons-y feel to it :slightly_smiling_face:

Could this be added to the set?

[2019-03-02 16:52] ShimiSun opened #100 "Improve the show/hide password icons"
Following the new story added for TextInput to show/hide password field, we will like to publish the best icons option.
In case the icons for the password use case don't exist yet, we should consider to create them. currently, these are the icons that are being used
https://storybook.grommet.io/?selectedKind=TextInput&selectedStory=Password%20input&full=0&addons=1&stories=1&panelRight=0&addonPanel

[2019-03-04 03:49] atreb opened #101 "Node.js icon request"
I use nodejs and docker extensively at my workplace. Was happy to see docker icon but missed nodejs one. Looking forward to getting support for it. Few links which hopefully may help:
https://fontawesome.com/icons?d=gallery&q=nodejs
https://nodejs.org/en/about/resources/

[2019-03-05 16:50] srallen commented on #87
No, I was unaware of `Blank`. Trying it now, this looks like it works for what I was trying to accomplish. Is this something that will be documented and supported in future versions?

[2019-03-08 20:18] ShimiSun commented on #87
Yes, and feel free to make a contribution

[2019-03-12 19:34] L0ZZI commented on #99
Sure. Fun diversion! Slanted or straight up?

![coffee](https://user-images.githubusercontent.com/1753301/54230155-13064400-44c3-11e9-9a31-b96b02f7fce6.png)
![coffee-slanted](https://user-images.githubusercontent.com/1753301/54230157-13064400-44c3-11e9-8f70-928f495a4f7f.png)
[coffee.svg.zip](https://github.com/grommet/grommet-icons/files/2958471/coffee.svg.zip)

[2019-03-12 19:35] L0ZZI commented on #101
Done!

![node](https://user-images.githubusercontent.com/1753301/54230250-48ab2d00-44c3-11e9-9020-6917693c5244.png)
[node.svg.zip](https://github.com/grommet/grommet-icons/files/2958475/node.svg.zip)

[2019-03-12 19:41] ShimiSun commented on #99
I like the Slanted :) @robinmetral what do you think?

[2019-03-12 20:59] robinmetral commented on #99
Same here @ShimiSun, @L0ZZI it's amazing, thank you!

[2019-03-13 16:22] atreb commented on #101
Thanks @L0ZZI

[2019-03-13 16:25] oorestisime commented on #101
Closing this since it was merged.

[2019-03-13 16:25] #101 closed

[2019-03-13 16:25] oorestisime commented on #99
Closing this since it was merged

[2019-03-13 16:25] #99 closed

[2019-03-18 12:54] credator opened #104 "Add Spotify and SoundCloud icons"
Any chance you can add icons for Spotify and SoundCloud.  Something like the examples below (from icomoon).

![image](https://user-images.githubusercontent.com/47538163/54531247-30239280-495b-11e9-9912-5e3cd83e17e2.png)

I can PR some SVGs if you'd like?

[2019-03-19 00:59] ShimiSun commented on #104
@credator yea, go ahead, check out the https://github.com/grommet/grommet-icons/blob/master/CONTRIBUTING.md
@L0ZZI FYI

[2019-03-19 22:42] oorestisime opened #105 "NPM icon"
I would love an npm icon to be able to add npm links using just that icon.

[2019-03-20 18:02] cyberrian opened #107 "Missing FormEdit icon"
There exists Form versions of most icons, e.g. FormTrash. I notice FormEdit is missing. Is this intended?

[2019-03-20 19:54] ShimiSun commented on #105
see #101, I need to update the site and release.

[2019-03-20 20:18] oorestisime commented on #105
That is nodejs. i am looking for npm. something like http://cdn.onlinewebfonts.com/svg/img_395039.png

[2019-03-29 21:20] JetLim commented on #105
![NPM](https://user-images.githubusercontent.com/16657091/55263234-8b903300-522d-11e9-9926-44e4b3c17e0a.png)

Do we need just an 'N', or the complete logotype for NPM?

[2019-04-01 21:15] JetLim commented on #104
![soundcloud](https://user-images.githubusercontent.com/16657091/55360207-8c70d100-5488-11e9-89a2-e0f6f396655e.png)

Let us know if the 'SoundCloud' logo is still needed.
It is ready to go.

[2019-04-08 18:08] JetLim commented on #105
![n_box](https://user-images.githubusercontent.com/16657091/55746468-99447600-59ee-11e9-9430-c5243f1a32f2.png)

The 'N' is ready.
@oorestisime @L0ZZI

[2019-04-10 03:08] ShimiSun commented on #48
Hi @smooJitter, sorry for the late response here, can you please elaborate a little more in case the issue still relevant?

[2019-04-10 03:10] ShimiSun commented on #83
@oorestisime were you able to document the best practice? anything else left before closing this issue?

[2019-04-10 03:11] ShimiSun commented on #100
Hi @JetLim, can you please take a look here and do the design investigation for this issue?

[2019-04-10 03:15] ShimiSun commented on #105
@JetLim, perfect 💯
can you please send me the SVG?

[2019-04-10 05:41] oorestisime commented on #83
No i completely forgot to do this.

[2019-04-12 19:49] L0ZZI commented on #105
I like the "n" jet!

[2019-04-16 23:39] #105 closed

[2019-04-17 03:34] #104 closed

[2019-04-17 22:21] JetLim commented on #107
@L0ZZI
Do we need to do this one?
Any reference as to what FormEdit that it is being referred to?

[2019-04-22 20:43] ganobrega opened #115 "Spectrum Logo"
![Spectrum](https://user-images.githubusercontent.com/4602864/56528415-85882c00-6525-11e9-95b1-2e9a62f6efac.png)
By: https://github.com/withspectrum/spectrum

Please, add the logo of the **Social Network**: [https://spectrum.chat/](https://spectrum.chat/).

`<path d="M0,3.356c0,-1.767 1.433,-3.2 3.2,-3.2l2.8,0c23.196,0 42,18.804 42,42l0,2.8c0,1.768 -1.433,3.2 -3.2,3.2l-17.6,0c-1.767,0 -3.2,-1.432

[2019-04-29 22:39] JetLim commented on #100
with 'Hide Value' icon.

![preview](https://user-images.githubusercontent.com/16657091/56931447-e9b26f00-6a94-11e9-82e0-054d130e08cb.png)

[2019-04-30 22:17] JetLim commented on #115
It would be great if the Spectrum Chat design team can provide a vector with the logo and the type of the company. Else, we have recreated the logo only without the type.

![spectrumchat](https://user-images.githubusercontent.com/16657091/56996825-a6223880-6b5a-11e9-85e7-327a782ac83a.png)

[2019-05-01 01:00] JetLim commented on #115
Minor refinements. The icon is ready. :)

![spectrumchat2](https://user-images.githubusercontent.com/16657091/57002101-b8f43780-6b71-11e9-88ad-765b4a3d3797.png)

[2019-05-01 04:18] #107 closed

[2019-05-02 16:06] #115 closed

[2019-05-10 18:46] yasser17 opened #119 "styledComponents.default.svg is not a function"
Hi, I can not use svg component on react-navite app. I'm new working with react-native and styled components,  maybe I did something wrong.

Packages version:

"react": "16.8.3",
"react-native": "0.59.5",
"styled-components": "^4.2.0"

`
import styled from 'styled-components'
import { getStatusBarHeight } from 'react-native-iphone-x-helper'

export const Container = styled.View`
    padding-top: $

[2019-05-10 20:02] ShimiSun commented on #119
Sorry, I'm not understanding how it is related to grommet-icons? are you trying to consume an icon with no luck?

[2019-05-10 20:04] yasser17 commented on #119
Sorry wrong package 😅

[2019-05-10 20:33] ShimiSun opened #121 "Sorting icons by the newest"
@L0ZZI it would be great to sort icons.grommet.io by newest...

[2019-05-10 20:35] ShimiSun commented on #121
we need to work out how will be the UX for displaying it, my initial thought maybe the user can search for `new` and see the new icons. or maybe we'd like to enhance the UI to display it.

[2019-05-10 20:36] ShimiSun commented on #119
now worries :) closing...

[2019-05-10 20:36] #119 closed

[2019-05-10 20:51] ShimiSun commented on #100
closing, and tracking the story here https://github.com/grommet/grommet/issues/3097

[2019-05-10 20:51] #100 closed

[2019-05-10 20:58] ericsoderberghp commented on #121
How about just a "New!" section towards the top that highlights them? I don't know that it necessarily has to be a sort option across all icons.

[2019-05-10 21:06] ShimiSun commented on #121
Yep, that sounds fun to me. @JetLim or @L0ZZI care to work on the design?

[2019-05-11 00:52] JetLim commented on #121
yes. let me carry this one! @L0ZZI @ShimiSun @ericsoderberghp This should also go onto @MikeWalrath roadmap?

[2019-05-11 01:59] ShimiSun commented on #121
I think of the roadmap as more of a list for future enhancements we'd like to accomplish, so I think this issue ticket is enough for tracking.

[2019-05-11 03:00] SukantPal opened #122 "Kebab Icon"
I think the kebab icon is important and should be included in this library.

[2019-05-15 07:58] metinsenturk opened #123 "Add Gatsby icon."
I believe GatsbyJS icon would be a nice addition.

[2019-05-17 09:20] sofiageo opened #124 "Update Red Hat logo"
Just a thing I noticed when searching for icons.

https://www.redhat.com/en/about/brand/new-brand

[2019-05-23 00:31] flaurida commented on #87
Quick question - how do I pass the svg path to `Blank`? Excited to try this out!

[2019-05-23 04:40] ShimiSun commented on #123
@JetLim care to work on a new logo?

[2019-05-23 15:23] ShimiSun commented on #124
@JetLim will you take a look at this one?

[2019-05-23 16:55] srallen commented on #87
Any SVG element can be a child of `Blank`:
[code]

[2019-05-25 20:22] metinsenturk commented on #123
Icons for switching dark/ light themes are also needed. Currently, I am using `<Action />` and `<Actions />` to represent dark and light themes, respectively. There are multiple themes in Grommet, some icons would be nice to represent them.

[2019-05-28 19:50] JetLim commented on #123
Example. The logo ready for review.

![logo](https://user-images.githubusercontent.com/16657091/58507235-1f0ab500-8146-11e9-8f6e-43fee137b684.png)

[2019-05-28 22:41] JetLim commented on #93
The logo ready for review. @ShimiSun check email for the attached asset.
Visual Example
<img width="165" alt="logo" src="https://user-images.githubusercontent.com/16657091/58517084-02c74200-815f-11e9-822b-25ed705b9515.png">

[2019-05-30 16:16] JetLim commented on #124
The logo ready for review. @ShimiSun pls check email for the attached asset.
Visual Example

<img width="284" alt="redhat" src="https://user-images.githubusercontent.com/16657091/58647036-8bf38b80-82bb-11e9-847e-08dd53012da9.png">

[2019-06-01 18:39] YrShy opened #126 "Adding a Discord Icon"
Hey! I'm incredibly impressed by the project. The number of icons available is really impressive, but i think that adding the discord icon, which is quite popular is a great idea :)

[2019-06-02 16:19] moshemo opened #127 "Adding Background Colors Border Radius"
Is there an easy way to add a background color and/or border-radius to Grommet Icons.  If so, can you please let me know how?

Thanks.

[2019-06-03 14:37] ericsoderberghp commented on #123
This sounds like possibly a separate issue. Do you mean an icon to use with a control that switches between dark and light themes? Or, do you mean that each theme should have an icon that could be used in a control to select the desired theme?

[2019-06-04 16:17] bytewoopy opened #128 "<More/> icon is missing vertical format"
I can't seem to find a vertical format for the more Icon: https://www.iconfinder.com/icons/1137487/dots_menu_more_navigation_option_options_icon

Need to use this for menu actions in some places, and the vertical fits better, similar to Google Drive.

[2019-06-14 02:53] daphnecharles opened #129 "Add a GraphQL Icon"
Hey I love all the icons provided so far, and I think a good addition would be a GraphQL icon.

[2019-06-26 19:52] jermsam opened #130 "Please export the <Hide/> and <FormHide/> icons too"
Here is the sandbox reproducing the fact that the `Hide` icon is not exported by the `grommet-icons` library:
https://codesandbox.io/s/grommet-icons-8bmz5

[2019-07-03 22:22] ShimiSun commented on #123
@metinsenturk can you please let us know what you think ⬆️ ?

[2019-07-10 18:03] ranjan-purbey commented on #127
No, you cannot do it with the existing code. However you can easily create a solid variant of an existing icon using the following steps:
1. In the `node_modules/grommet-icons/icons` folder, look for the icon whose solid variant you need. Let's assume that icon is `CaretDown`
2. Create a copy of the JS file corresponding to that icon in the same directory, and name it something like `CaretDownSoli

[2019-07-10 20:05] ShimiSun commented on #127
I might be missing something, but why not using the color prop? Please see this example https://codesandbox.io/s/color-prop-in-grommet-icons-vb6by

You can also customize the color property on the theme level, to make the color consistent towards the app.

[2019-07-11 03:19] ranjan-purbey commented on #127
The `color` prop sets the stroke color for existing icons, and not the fill color.

[2019-07-12 03:17] nomadus opened #132 "Add additional Emoji icons (neutral, sad)"
To complete the set, please add neutral, sad emoji icons.

[2019-07-15 16:26] ShimiSun commented on #127
@ranjan-purbey can you please share with me an example of what is it that can't be achieved?
This is another example where I used the `color` prop to fill the color of the skype icon and not just the border https://codesandbox.io/s/color-prop-in-grommet-icons-vb6by
Do you have another idea of how to use the fill prop that I might be missing?

[2019-07-15 16:30] ShimiSun commented on #128
@ericsoderberghp I'm thinking maybe we can add a feature that allows rotations of the icons?

[2019-07-15 20:17] ranjan-purbey commented on #127
Try it for `Cursor` icon. You will notice it only colors the border. What
if the user wants a solid variant of the same icon? That can be achieved
using the steps mentioned in my previous comment

On Mon, 15 Jul, 2019, 9:56 PM Shimi, <notifications@github.com> wrote:

[2019-07-15 20:39] ShimiSun commented on #127
@ranjan-purbey Thank you for the prompt replies.
I think that Cursor by design has a white filling, so the user controls only its stroke border, to maintain the icon design and the library standards.
The Skype icon is an example that the color prop does allow filling the color and not just the stroke/border, although by design some icons might not allow it (e.g Cursor).

I'm not sure if this shoul

[2019-07-16 15:43] ranjan-purbey commented on #127
@ShimiSun I agree with you that this behavior is controlled by individual icons, and the library itself allows to use the `fill` property by the icons which opt for it.
What I am suggesting is most, if not all of the icons should have two variants – one the outlined version, and the other a solid (filled) variant. In many popular icon libraries like font-awesome, this is in fact the convention. If

[2019-07-16 15:45] L0ZZI commented on #129
![graph-ql@2x](https://user-images.githubusercontent.com/1753301/61308855-fbf39d80-a7a5-11e9-8550-d71f06707088.png)
[graph-ql.zip](https://github.com/grommet/grommet-icons/files/3397913/graph-ql.zip)

[2019-07-22 12:13] #129 closed

[2019-07-22 16:41] loktar00 opened #135 "Dependency on styled-components"
Receive this error when trying to just use the icon library by itself,

[code]

Adding styled-components into the root project allows a user to continue, ideally though the base project wouldn't require `styled-components` as a hard requirement, alternatively it could be listed in the readme as a requirement for the library.

[2019-08-09 04:12] ericsoderberghp commented on #128
Hmm... Let's discuss with @L0ZZI. I suspect rotation doesn't really work for most icons. I'm wondering if this is a special case and we should just have another icon called something like MoreVertical?

[2019-08-13 05:47] ShimiSun commented on #130
Available on grommet-icons release 4.3.0 https://github.com/grommet/grommet-icons/releases/tag/v4.3.0.
Thank you for your patient.

[2019-08-13 05:47] #130 closed

[2019-08-13 05:50] ShimiSun commented on #124
Released on 4.3.0 https://github.com/grommet/grommet-icons/releases/tag/v4.3.0

[2019-08-13 05:50] #124 closed

[2019-08-13 15:58] diegouploads opened #137 "Dynamic Icon"
Isn't there a way to pass a dynamic icon?
example below:
import {Icon} from "grommet-icons";

<Icon name = "Cart">

[2019-08-13 16:43] oorestisime commented on #137
Maybe related to #87
Does `Blank` respond to what you need?

[2019-08-13 17:01] diegouploads commented on #137
Can you give me an example of how to pass car inside blank

[2019-08-13 17:07] oorestisime commented on #137
Not sure what you mean. which car?

[2019-08-13 17:42] diegouploads commented on #137
The "Car" or "Bar" Icon Inside Blank

[2019-08-13 18:32] oorestisime commented on #137
But why would you want to do this? What are you trying to do actually?
The Blank icon is meant to be used like:

[code]

so i am not sure what you are trying to achieve here. If you could give a bit more details it will be great!

[2019-08-13 20:08] diegouploads commented on #137
Modelo de como eu gostaria, pois preciso passar o nome do icone dinamicamente;

 array.map( a => {
    return(
        <Blank name={a.nameIcon} viewBox='0 0 24 24' ><path d='' /></Blank>
    )
})

[2019-08-13 20:28] oorestisime commented on #137
How about something like?

[code]

[2019-08-13 20:31] diegouploads commented on #137
This is not for me, I have more than 30 categories that comes from the database, I need to validate if it is the category and show the icon, if I can pass the name inside the tag would be perfect if I do not have to import everything before and do several if

[2019-08-13 20:37] oorestisime commented on #137
I guess you can have an external file doing all the mappings for you.

Or *and this is not the best idea since you will import all the icons and not benefit from tree-shaking* you can `import * as icons from "grommet-icons"` and then do `icons[key]`. But again this is not a great idea since you will import all the icons in your build and increase your bundle size.

[2019-08-13 20:41] diegouploads commented on #137
Today I am doing this and it works, but I would like to change as I have over 40 icons.

`import React from 'react';
import {
    Cafeteria, Cloud, Bar, CreditCard, Home, Shop,
} from "grommet-icons";

export const Icone = ({name, color = "#fff", size = "14px"}) => {
    if (name === 'Cafeteria') return <Cafeteria color={color} size={size} />;
    if (name === 'Cloud') return <Cloud color={color}

[2019-08-13 20:41] diegouploads commented on #137
`<Icone name="Bar" color="#000" />`

[2019-08-13 20:46] oorestisime commented on #137
But you don't need to do all those ifs.
Just create a map between name and icon

[code]

[2019-08-13 20:55] diegouploads commented on #137
True, I'll do it, I'll be back with result.

[2019-08-14 16:49] diegouploads commented on #137
It worked, thank you very much!

[2019-08-15 00:11] ShimiSun commented on #122
What's the use case buddy? Can you share a design

[2019-08-15 12:24] SukantPal commented on #122
The kebab icon is used extensively in Android (top-right menu icon in bar activities) and is a core part of material design.

https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwinmJCB74TkAhWI1FkKHW37ApUQjRx6BAgBEAQ&url=https%3A%2F%2Fdocs.woocommerce.com%2Fdocument%2Fandroid%2Fwoo-android-toolbar-menu%2F&psig=AOvVaw0WJmjfNGGfSauFhQ6dt5B9&ust=1565958189871139

[2019-08-15 12:25] SukantPal commented on #122
By kebab, I mean the vertically stacked three dots. Not any other "food"-related icon.

[2019-08-16 01:38] ShimiSun commented on #137
Thank you for resolving it! 🎉

[2019-08-16 01:38] #137 closed

[2019-08-16 17:06] emilyemorehouse opened #138 "Typo in metadata lookup causes a module build error"
This issue can be seen in 4.2.0 and 4.3.0:

```./node_modules/grommet-icons/es6/icons/ApppleAppStore.jsModule build failed: Error: ENOENT: no such file or directory, open '/Users/emily/Development/CuttleDev/Projects/Clients/South Arts/par.com/node_modules/grommet-icons/es6/icons/ApppleAppStore.js'```

[2019-08-16 21:56] #138 closed

[2019-08-21 22:08] L0ZZI opened #140 "Updated HPE and new MoreVertical (Kebab) icon."
Updated SVGs...

[more-vertical.svg.zip](https://github.com/grommet/grommet-icons/files/3527516/more-vertical.svg.zip)
[hpe.svg.zip](https://github.com/grommet/grommet-icons/files/3527517/hpe.svg.zip)

[2019-08-22 16:06] #122 closed

[2019-08-22 16:06] #128 closed

[2019-08-22 16:06] #140 closed

[2019-09-19 23:55] bytewoopy opened #142 "Cannot import <MoreVertical>"
It seems I cannot import the **MoreVertical** icon that was added in a recent release, tested it in 4.3.0 release of grommet icons. Please see sandbox (icon is un commented)

https://codesandbox.io/embed/more-vertical-opix5

[2019-10-16 23:37] afreix commented on #127
@ranjan-purbey any updates here?

[2019-10-17 13:51] ranjan-purbey commented on #127
As mentioned in above discussion, the choice of opting for a solid variant of an icon depends on the icon's creator. If yours is a one-off case, you can use the workaround in one of my previous replies. Else if sufficient people need this, I can create a PR with solid variants of existing icons.

[2019-10-23 03:22] afreix commented on #127
@ranjan-purbey my use case is not one-off. I have a large number of icons for which this behavior would be desirable. It appears that @moshemo (who filed this issue originally) and a few others who reacted positively to your message might all be interested in this functionality.

It seems like it'd be worth it to create solid variants of existing icons. If you were able to make an example PR with

[2019-10-23 09:40] ranjan-purbey commented on #127
Alright, I'll create one. Give me a day

[2019-10-24 10:42] nomadus opened #143 "Adding a Telegram icon"
As this messenger is getting popular, could you please add the Telegram icon? Thanks in advance!

[2019-10-25 05:05] afreix commented on #127
@ranjan-purbey I've actually decided to switch icon libraries, so if you are only doing this for me, then you don't have to.

I appreciate the willingness to help out

[2019-10-27 11:32] TimPchelintsev commented on #143
["Send" icon](https://icons.grommet.io/?s=send) is very similar, btw:)

[2019-10-27 11:34] TimPchelintsev opened #144 "Please add an Airplane icon"
[We already have Bike, Bus, Car, Train](https://icons.grommet.io/?s=transport) but unfortunately no Airplane...

[2019-11-04 03:16] bytewoopy commented on #142
Bump... any ideas?

[2019-11-04 23:05] dariawhitecastle commented on #142
Same here.

[2019-11-06 14:11] ShimiSun commented on #142
Thank you for your patient,
grommet icons 4.4.0 is released https://github.com/grommet/grommet-icons/releases/tag/v4.4.0

This is an example of the MoreVertical icon:
https://codesandbox.io/s/morevertical-pcvoe

I'll be closing this issue.

[2019-11-06 14:11] #142 closed

[2019-11-06 18:24] ShimiSun commented on #143
https://telegram.org/

[2019-11-08 12:59] nomadus commented on #143
Yes, they are similar, but the logo has color.

[2019-11-08 16:39] ShimiSun commented on #143
Icon accepts the `color` prop, can you try to fetch it with the color?

[2020-01-07 18:26] krichdev opened #146 "Add Pocket Icon"
Please add an icon for [Pocket](https://getpocket.com)

[2020-01-15 18:41] L0ZZI opened #148 "Update web page to better sort icon types (status, social, core) to be easier to the see."
Investigate how we display the listing of icons to make the content easier to scan and see the various types of icons.

[2020-01-15 18:54] L0ZZI commented on #144
Thanks! @TimPchelintsev!

[plane.zip](https://github.com/grommet/grommet-icons/files/4066849/plane.zip)

[2020-01-15 18:58] L0ZZI opened #149 "Projects and Anchor Icons"
[icons.zip](https://github.com/grommet/grommet-icons/files/4066876/icons.zip)

[2020-01-21 18:50] #146 closed

[2020-01-21 21:16] ShimiSun opened #152 "Missing Metadata"
In some cases, we can see icons that exist on the icons list but are not shown on the filter results on the grommet-icons-site. the reason for it is the missing metadata for those specific icons.

The following is a printer log for all the `undefined` results of metadata due to missing metadata info. (search for `undefined`)

Grammarly.js:2 [DEFAULT]: WARN : Using DEFAULT root logger
t.printToCons

[2020-01-21 21:53] #152 closed

[2020-01-21 23:57] #149 closed

[2020-02-11 13:46] chesleyratliff opened #157 "New Expand All Icon Request"
I'd like to see an "expand all" icon from grommet so that a group of collapsed fields can all be opened by clicking one icon.

[2020-02-13 18:14] chesleyratliff commented on #157
I'd also of course like to see a corresponding collapse all icon

[2020-02-13 19:41] L0ZZI opened #158 "Figma Icon"
[figma.svg.zip](https://github.com/grommet/grommet-icons/files/4200641/figma.svg.zip)

[2020-02-21 09:18] jim-king-2000 opened #159 "Icon Qr looks weird."
1. Go to 'https://github.com/jim-king-2000/nextbugrepro', clone the code.
2. cd nextbugrepro, npm run dev.
3. Open "localhost:3000" in browser, see the icon.

[2020-02-27 16:58] LRNZ09 opened #160 "Add Last.fm icon"
It would be a nice addition to having the Last.fm icon within this package.

[2020-02-27 16:59] LRNZ09 opened #161 "Add Dribbble icon"
It would be a nice addition to having the Dribbble icon within this package.

[2020-02-27 17:47] ShimiSun commented on #160
Can you share a link to what you had in mind?

[2020-02-27 18:33] LRNZ09 commented on #160
Sure! Maybe something like the squared one here https://fontawesome.com/icons?d=gallery&q=lastfm&s=brands

[2020-03-06 06:15] markjackson02 opened #162 "Add Ebay icon"

[2020-03-19 06:13] ShimiSun commented on #159
Hi @jim-king-2000, thanks for reporting, we are in the process of fixing this issue, in the meanwhile use `color="plain"` it should work as expected.

PR #163 is a WIP and related to this issue.

[2020-03-19 06:16] ShimiSun commented on #135
Quoting from https://github.com/grommet/grommet/issues/3770:

Hey there,

styled-components is intentionally a peer dependency so we don't lock you in our version of styled-components. Same with react!
This is not a bug but a feature :)

[2020-03-19 06:17] #135 closed

[2020-03-19 17:29] L0ZZI commented on #143
Does `send` work for your need? https://icons.grommet.io/?s=send

[2020-03-19 18:55] L0ZZI commented on #162
Done!

[ebay.svg.zip](https://github.com/grommet/grommet-icons/files/4356440/ebay.svg.zip)

[2020-03-19 18:56] L0ZZI commented on #161
[dribbble.svg.zip](https://github.com/grommet/grommet-icons/files/4356441/dribbble.svg.zip)

Done.

[2020-03-19 18:56] L0ZZI commented on #160
Done!

[lastfm.svg.zip](https://github.com/grommet/grommet-icons/files/4356443/lastfm.svg.zip)

[2020-03-20 09:36] LRNZ09 commented on #161
Thanks! Do you when it'll be available in the package?

[2020-03-20 09:37] LRNZ09 commented on #160
Thanks! Do you know when it'll be available in the package?

[2020-03-23 21:23] ShimiSun commented on #159
@L0ZZI we need an updated Qr icon that is compliant with the conditions raised on PR #163

[2020-03-23 22:12] #161 closed

[2020-03-23 22:16] ShimiSun commented on #161
@LRNZ09 we are not sure when the official release will take place, but you can point your grommet-icons package on package.json to "https://github.com/grommet/grommet/tarball/stable"  and enjoy the new icon.

[2020-03-23 22:17] ShimiSun commented on #162
@markjackson02  we are not sure when the official release will take place, but you can point your grommet-icons package (on package.json) to "https://github.com/grommet/grommet/tarball/stable" and enjoy the new icon.

[2020-03-23 22:17] #162 closed

[2020-03-23 22:18] ShimiSun commented on #160
@LRNZ09  we are not sure when the official release will take place, but you can point your grommet-icons package (on package.json) to "https://github.com/grommet/grommet/tarball/stable" and enjoy the new icon.

[2020-03-23 22:18] #160 closed

[2020-03-24 00:02] LRNZ09 commented on #161
Perfect, thanks a lot for your work!

[2020-03-24 00:03] LRNZ09 commented on #160
Perfect, thanks a lot for your work!

[2020-03-24 14:34] #158 closed

[2020-03-30 15:42] nomadus commented on #143
I guess I can use the send icon, thanks!

[2020-03-31 16:05] ShimiSun commented on #143
Thanks! I'll be closing this issue, feel free to open a new one in case you need anything else.

[2020-03-31 16:05] #143 closed

[2020-04-01 21:48] ecircenis opened #166 "Add icons for light/dark mode switching"
Sun/Moon (outline/filled)
Lit and unlit lightbulb
Etc

[2020-04-01 21:53] ShimiSun commented on #166
@L0ZZI can we consider moving the dark/light icons from the design-system to grommet icons?

[2020-04-03 12:16] berkayk opened #167 "Mobile Device Icon"
Thanks for this awesome set.

I am having trouble finding a suitable icon for Mobile devices. I need a mobile device icon similar to **Desktop** or **PersonalComputer**.

[2020-04-22 15:31] nateq314 opened #169 "Box gap prop rendering gaps between null children"
[code]
is rendering 3 gaps, whereas common sense would dictate that there should be none, as there is only one non-null child element.

[2020-04-22 23:03] ShimiSun commented on #169
Thanks for reporting buddy, can you file this issue under [grommet itself](https://github.com/grommet/grommet/issues) and not under grommet-icons?

[2020-04-23 00:28] nateq314 commented on #169
Oops my bad! Here it is: https://github.com/grommet/grommet/issues/3999. Closing this one.

[2020-04-23 00:28] #169 closed

[2020-04-23 14:45] jensy opened #170 "StatusDisabled icon looks like indeterminate checkbox icon"
<img width="1217" alt="image" src="https://user-images.githubusercontent.com/105723/80112683-9c010300-853e-11ea-959d-50a4c3e65d08.png">

We need to think of something different, it is confusing, especially in a list context.

[2020-04-30 04:39] zhangriyueming opened #171 "Svg Path stroke color should not fixed to '#000' instead of 'currentColor'"
Svg Path stroke color should not fixed to '#000' instead of 'currentColor'

[2020-05-01 01:13] ShimiSun commented on #171
Can you please explain what do you mean by currentColor and how you are trying to use it?

[2020-05-05 21:41] saggiemilva commented on #144
[plane.svg.zip](https://github.com/grommet/grommet-icons/files/4583723/plane.svg.zip)
**Metadata**

[2020-05-05 22:18] saggiemilva commented on #132
### Black Line Emoji Icons

[goofy.svg.zip](https://github.com/grommet/grommet-icons/files/4583850/goofy.svg.zip)
**Metadata**
Goofy, Emoji, Mood, Silly

[happy.svg.zip](https://github.com/grommet/grommet-icons/files/4583874/happy.svg.zip)
**Metadata**
Happy, Emoji, Mood, Smile

[nervous.svg.zip](https://github.com/grommet/grommet-icons/files/4583882/nervous.svg.zip)
**Metadata**
Nervous, Emoji, M

[2020-05-05 22:42] saggiemilva commented on #132
### Color Emoji Icons

[color-cry.svg.zip](https://github.com/grommet/grommet-icons/files/4584002/color-cry.svg.zip)
**Metadata**
Cry, Emoji, Mood, Sad

[color-goofy.svg.zip](https://github.com/grommet/grommet-icons/files/4584005/color-goofy.svg.zip)
**Metadata**
Goofy, Emoji, Mood, Silly

[color-happy.svg.zip](https://github.com/grommet/grommet-icons/files/4584009/color-happy.svg.zip)
**Metadata*

[2020-05-05 22:49] saggiemilva commented on #166
[moon.svg.zip](https://github.com/grommet/grommet-icons/files/4584038/moon.svg.zip)
**Metadata**
Moon, Dark

[sun.svg.zip](https://github.com/grommet/grommet-icons/files/4584040/sun.svg.zip)
**Metadata**
Sun, Light

[2020-05-05 22:51] saggiemilva commented on #126
[discord.svg.zip](https://github.com/grommet/grommet-icons/files/4584049/discord.svg.zip)
**Metadata**
Discord, Social, Chat, Talk

[2020-05-05 23:01] saggiemilva commented on #159
[qr.svg.zip](https://github.com/grommet/grommet-icons/files/4584071/qr.svg.zip)
**Metadata**
QR, Technology, Scan

[2020-05-06 02:40] nomadus opened #172 "Please add zoom logo"

[2020-05-06 16:29] saggiemilva commented on #167
[phone-flip.svg.zip](https://github.com/grommet/grommet-icons/files/4588008/phone-flip.svg.zip)
**Metadata**
FlipPhone, Technology, Mobile, Device

[phone-horz.svg.zip](https://github.com/grommet/grommet-icons/files/4588018/phone-horz.svg.zip)
**Metadata**
PhoneHorizontal, Technology, Mobile, Device

[phone-vert.svg.zip](https://github.com/grommet/grommet-icons/files/4588026/phone-vert.svg.zip)
**

[2020-05-07 09:05] metinsenturk commented on #123
@ShimiSun Thank you! Looks amazing. I will give it a try.

[2020-05-07 20:51] saggiemilva commented on #172
[zoom.svg.zip](https://github.com/grommet/grommet-icons/files/4595724/zoom.svg.zip)
**Metadata**
Zoom, Social, Video, Chat, Talk

[2020-05-07 21:57] ShimiSun commented on #172
@saggiemilva look how quick you are! 😉 hoping I'll get to it in the next couple of days.

[2020-05-08 17:37] ShimiSun commented on #123
Closing the issue, Gatsby icon is added https://icons.grommet.io/?s=Gatsb

[2020-05-08 17:37] #123 closed

[2020-05-08 18:00] ShimiSun commented on #172
Hi @saggiemilva the svg isn't translated well, here is the complied component:
[code]

It is basically shown as a square with round corners
![image](https://user-images.githubusercontent.com/6320236/81434523-86d1ca00-9123-11ea-9236-a9bac0edc73c.png)

Can you please take another look on the svg?

[2020-05-09 13:38] #166 closed

[2020-05-12 15:16] saggiemilva commented on #172
New zoom icon
[zoom.svg.zip](https://github.com/grommet/grommet-icons/files/4616482/zoom.svg.zip)
**Metadat**
Zoom, Social, Video, Chat, Talk

[2020-05-12 15:59] ShimiSun commented on #172
@saggiemilva I tried this one and it doesn't work even on a default mode:
![image](https://user-images.githubusercontent.com/6320236/81716921-2f8b6c80-9437-11ea-9ab3-3d218ea8776c.png)

[2020-05-12 17:04] saggiemilva opened #174 "Icons from Figma"
A handful of Icons have been added to the Figma library by request and not they need to be added to the Grommet library.

[table.svg.zip](https://github.com/grommet/grommet-icons/files/4616630/table.svg.zip)
**Metadata**
Table, Chart, Data

[time.svg.zip](https://github.com/grommet/grommet-icons/files/4616632/time.svg.zip)
**Metadata**
Time, Chart, Line, Data

[package.svg.zip](https://github.com/

[2020-05-12 17:10] ShimiSun commented on #167
I'll be renaming:
`phone-horz.svg` to `phone-horizontal.svg`
and similarly with vertical.

[2020-05-12 17:13] saggiemilva commented on #172
Darn, I thought removing the gradient would work. Let's try this one:
[zoom.svg.zip](https://github.com/grommet/grommet-icons/files/4617357/zoom.svg.zip)

[2020-05-12 18:32] #167 closed

[2020-05-12 19:57] ShimiSun commented on #174
we currently have a Table icon, is the attached icon supposed to replace the existing one? https://icons.grommet.io/?s=table

[2020-05-12 20:22] saggiemilva commented on #174
I talked with Chris and he said to leave the current Table icon and to forget about the new one.

[2020-05-12 23:11] #172 closed

[2020-05-18 00:03] DavidJFelix commented on #171
@ShimiSun I found this issue wanting the same thing. I'm trying to use the icons with `react-icons` and I was unable to change the color of the icons like I'm able to with other kids like font-awesome and feather. The `currentColor` ask is that rather than define the stroke as black, it be set to the SVG label [currentColor](https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/color). This m

[2020-05-20 16:07] ShimiSun commented on #174
@saggiemilva we currently have a Apps icon, is the attached icon supposed to replace the existing one?
https://icons.grommet.io/?s=apps

[2020-05-20 16:19] saggiemilva commented on #174
Yes, the new Apps icon should replace the current one on grommet and make the current Apps icon a Grid-Option icon

[2020-05-20 19:48] ShimiSun commented on #174
@saggiemilva Thanks!

making sure you didn't miss the rest of the comment:

[2020-05-22 21:38] saggiemilva commented on #174
Oh sorry, I did miss that.
-Clock, Help, and License should replace current icon

-Home and Fan should become secondary options

-Keep the current camera icon as is and add the new one as Webcam

- The new share can replace Share-Option, and the existing Share-Option can be renamed Link-Option

[2020-05-23 13:21] aravindanve commented on #171
@DavidJFelix you are right. If you are looking for a temporary solution, overriding the stroke using css worked for me. But the caveat is you will have to add the class `my-grommet-icon` to your icon component:

[code]

Or if you are using styled-system, theme-ui or rebass, you could do this:

[code]

[2020-05-26 16:17] ecircenis opened #180 "Moon icon is too thick on light background and fuzzy on dark background"
The new moon icon has too thick a stroke on a light background and shows up fuzzy on a dark background:
![image](https://user-images.githubusercontent.com/17883783/82924812-21127a00-9f3a-11ea-861e-cee71fe9916a.png)

[2020-06-01 20:45] ShimiSun commented on #180
@L0ZZI and @saggiemilva let's resolve this issue before continuing to add more icons from Figma.

[2020-06-01 22:16] ShimiSun commented on #180
Investigating this issue with the designers and the dev side, and it looks like we are applying the color properly
![image](https://user-images.githubusercontent.com/6320236/83460247-2cc2dc80-a423-11ea-9493-1995ceb1a8c1.png)

I think the issue might be coming from designer itself? @ericsoderberghp

[2020-06-03 14:22] ericsoderberghp commented on #180
I think the issue is that the moon is a filled path whereas the other icons are stroked paths. For example, the Actions icon has `fill="none" stroke="#000" stroke-width="2"` for its path but the Moon icon has `fill="black"` for its path. I think the filled approach doesn't handle the scaling up and down of the icon size as well as the stroke approach.

[2020-06-03 14:37] ericsoderberghp commented on #180
The reason we don't see this visually on icons.grommet.io is because the icons are rendered with `color="plain"`. In the designer, we don't do this and instead let the the color prop be set by the design. Here's an example where the color is set for each of these icons, but the Moon doesn't get the color, due to the `fill`.

![Screen Shot 2020-06-03 at 7 36 29 AM](https://user-images.githubusercon

[2020-06-04 18:51] thehappydinoa opened #182 "Update NPM Package"
Hi there!

I am trying to use some of the icons added within the last seven months. Do you guys plan to push to [npm](https://www.npmjs.com/package/grommet-icons) anytime soon? I was hoping to use the `Moon` and `Sun` icons.

[2020-06-07 08:49] adampblack opened #184 "Moon icon missing"
Attempted import error: 'Moon' is not exported from 'grommet-icons'.

node_modules\grommet-icons\icons

There is no Moon.js file

[2020-06-07 09:07] adampblack commented on #184
There is no Sun.js file also.

There are 564 icon files.

There are 598 icons showing on the public webpage.
https://icons.grommet.io/

So two mentioned are 2 of 34 from my count.

[2020-06-17 08:34] JeremyPittard commented on #184
I think this ties in with #182
looks as if the code for each icon is in the repo

[2020-06-18 16:49] saggiemilva commented on #180
@ShimiSun I remade the moon icon so it should not have any fill properties. Please let me know if this solves the issue:
[moon.svg.zip](https://github.com/grommet/grommet-icons/files/4799969/moon.svg.zip)

[2020-06-19 22:35] ShimiSun commented on #184
Correct, In the meanwhile, you can use the [stable branch](https://github.com/grommet/grommet/wiki/What-is-grommet-stable-and-how-to-use-it%3F) to receive the new icons. we are still working on some fixes before publishing to NPM.
Here is a code example: https://github.com/hpe-design/design-system/blob/7de5860ac55713b79ea41172a73dc4dd23750fd4/aries-site/package.json#L11

[2020-06-19 23:55] adampblack commented on #184
Thanks, closing issue

[2020-06-19 23:55] #184 closed

[2020-06-30 23:46] StefanoDeVuono opened #187 "GooglePlay icon group broken"
The google play icon is wrapped a a `<g>` tag and when I color the icon, it disappears

ie
[code]
renders fine, but

[code]
does not.

It generates the following HTML:
[code]
And nothing shows up.

When I check the inspector, the `<g>` tag has the following CSS associated with it:
<img width="254" alt="Screen Shot 2020-06-30 at 4 38 55 PM" src="https://user-images.githubusercontent.com/2316641/861

[2020-07-06 16:54] L0ZZI opened #188 "Add Kubernettes platform icon"

[2020-07-09 20:02] ShimiSun commented on #180
Fixed on PR #186

[2020-07-09 20:02] #180 closed

[2020-07-15 17:35] IanKBovard commented on #174
@saggiemilva Could you clarify for me what you mean by making home and fan secondary options? Add them with a new name HomeOption and FanOption(i see we already have a fan and fanoption)? Also, it looks like we have a keyboard icon as well. Do we want to replace it?

[2020-07-15 17:45] saggiemilva commented on #174
@IanKBovard – Add the new home icon as HomeOption and replace the old FanOption with the new one (since currently its just a black box). For keyboard, just replace the old icon with the new.

[2020-07-15 17:47] IanKBovard commented on #174
gotcha, thanks!

[2020-07-15 19:52] jensy opened #190 "Actions icon looks like Sun icon"
We got feedback that the Actions gear icon looks too much like a sun, I tend to agree.

<img width="1188" alt="image" src="https://user-images.githubusercontent.com/105723/87589419-70576a00-c6a2-11ea-97a4-41ae2c783e84.png">

We to update it to make it look more like a gear or an alternative idea.

[2020-07-29 21:19] vavalos5 opened #198 "Add status alert icon"
[circle-alert.svg.zip](https://github.com/grommet/grommet-icons/files/4997541/circle-alert.svg.zip)

[2020-07-29 21:35] ShimiSun commented on #198
@IanKBovard Please add this to the library to help with the design system work.

[2020-07-30 15:30] IanKBovard commented on #198
@vavalos5 What would the metadata be for this icon? just double checking, but the icon will be called status-alert, not circle-alert?

[2020-07-30 15:47] vavalos5 commented on #198
@IanKBovard Thanks for double checking. The icon will be called circle-alert

[2020-07-30 15:56] vavalos5 commented on #198
Status, alert, validation

[2020-07-30 16:02] IanKBovard commented on #198
great, thanks!

[2020-07-30 17:25] #198 closed

[2020-08-07 20:41] #174 closed

[2020-08-08 16:40] holdenmad opened #205 "Hamburger Menu is called "Menu" and conflicts with the component "Menu""
Hi there! So it seems that the Hamburger Menu icon conflicts with the Grommet 'Menu' component when used together.

`import {Menu} from 'grommet'`
`import {Menu} from 'grommet-icons'`

This produces an immediate error. Of course you can just use  "&#x2630;" to make a hamburger menu, but the icon component should probably be called "Hamburger" or "HamMenu" instead of "Menu".

[2020-08-24 18:23] ShimiSun commented on #205
Due to backward compatibility, we can't change the name of the icon.
You can always import the icon with alias:
[code]

[2020-08-24 18:23] #205 closed

[2020-09-01 00:44] kmar20 opened #206 "Request for new icons"
Hi - We're using your icons on the Education pages to provide visual cues for the different types of courses we offer. (You can see them here: https://education.hpe.com/ww/en/training/delivery.html .) The icons for ILT, eLearning, and Digital Learner work, but the icon for VILT doesn't provide the visual cue we'd like. The "Workshop" icon is perfect for ILT, so we're wondering if it's possible to

[2020-09-01 01:59] ShimiSun commented on #206
Hi buddy! Thank you for reaching out. I'd like to talk to you in more details about what you need and see whether/how we can match your needs. can you please reach out to me (shimi) on Slack so we can chat/call? http://slackin.grommet.io/

[2020-09-01 17:33] ShimiSun commented on #206
Summary:

VILT - "virtual instructor-led training", which means it's a live class that people can take remotely.

The New icons request:
1. VILT - based on the "workshop" icon - workshop + desktop? something to indicate a virtual class
2. MyRoom - an icon based on "user" w/a graduation cap to represent the MyRoom University program

[2020-09-01 23:17] ShimiSun opened #207 "New sortable icon"
For the context of DataTable `dataTable.icons.sortable` https://github.com/grommet/grommet/pull/4480/files#r481477145

[2020-09-09 02:13] naomigrace opened #208 "Add FavoriteFill icon"
Requesting to add a fill version of the Favorite icon, similar to how Flag has a FlagFill version

[2020-09-13 16:08] ShimiSun commented on #208
For now, here is an example how could that be achieved indirectly to a filled icon https://codesandbox.io/s/o7wjvrj3wy

[2020-09-14 22:31] vavalos5 opened #209 "Filled caret icons"
Please see attached filled carets (up and down) below:

[caret-up.svg.zip](https://github.com/grommet/grommet-icons/files/5221393/caret-up.svg.zip)
[caret-down.svg.zip](https://github.com/grommet/grommet-icons/files/5221394/caret-down.svg.zip)

**Metadata:** caret, index, sort

[2020-09-15 16:05] #209 closed

[2020-09-16 20:49] ShimiSun commented on #207
![image](https://user-images.githubusercontent.com/6320236/93390977-314abe00-f877-11ea-96b4-087adcc8c245.png)
https://storybook.grommet.io/?path=/story/datatable--custom

[2020-09-16 20:56] L0ZZI commented on #206
My recommendation would be use the `workshop` icon as mentioned by @ShimiSun as it's tricky to convey the concept of virtual in the small size and we really want don't want to brand in icons that are more functional in use and application.

As for the User Grad we can add a cap to the set of user icons and add a PR to include it in the icon library.

[2020-09-16 20:58] L0ZZI commented on #190
yeah, I had a rev of the settings that separates the two more. The `solaris` icon is a brand and I wonder if we deprecate that in the next release.

[2020-09-19 01:08] naomigrace commented on #208
For anyone who comes across this and wants to fill other icons like the Filter icon, you have to look inside the svg to see what selector to use (polygon for the Filter icon).

`import styled, { css } from "styled-components";
import { Filter, Favorite } from "grommet-icons";

const filledIcon = css`
  path[fill="none"] {
    fill: rgb(229 36 59) !important;
  }
  polygon[fill="none"] {
    fill:

[2020-09-22 18:31] vavalos5 opened #213 "Unsorted, ascending and descending icons for Table"
[ascending.svg.zip](https://github.com/grommet/grommet-icons/files/5263313/ascending.svg.zip)
[descending.svg.zip](https://github.com/grommet/grommet-icons/files/5263315/descending.svg.zip)
[unsorted.svg.zip](https://github.com/grommet/grommet-icons/files/5263316/unsorted.svg.zip)

[2020-09-23 20:18] ShimiSun commented on #207
Duplicate of #213

[2020-09-23 20:18] #207 closed

[2020-09-23 20:40] vavalos5 commented on #213
Behavior would be as follows:

On hover, icon "unsorted" would show up.
On click, icon would ascend.
When click again, icon would descend.

See screen shots below:

<img width="186" alt="Screen Shot 2020-09-23 at 1 36 49 PM" src="https://user-images.githubusercontent.com/62117454/94066938-01814600-fda2-11ea-9a99-52fa2d098770.png">
<img width="167" alt="Screen Shot 2020-09-23 at 1 38 27 PM" src="ht

[2020-09-23 20:43] #213 closed

[2020-10-01 05:27] parth611git opened #215 "Ability to Flip or Rotate icons"
Can we property below properties for icons?

- Flip icons horizontally or vertically
- Rotate icons
-- If positive value then rotate clockwise
-- If negative value then anti clockwise

[2020-10-20 22:56] rodmartinezmedina opened #216 "Icon inside Anchor doesnt change style (Active and hover)"
Please help.
How can I target an icon on hover or active?
I'm going crazy. I have an icon in a Grommet Anchor and nothing seems to work.

[](https://stackoverflow.com/questions/64454214/cant-style-grommet-icon-inside-anchor)

### Expected Behavior

Icons should change the style on hover or active status of the Anchor.
Also for some reason, border is green when on focus even if i specified everywhe

[2020-10-21 02:49] ShimiSun commented on #216
This issue is a duplication of https://github.com/grommet/grommet/issues/4637. Let's keep the latter as the point of contact.

[2020-10-21 02:49] #216 closed

[2020-11-22 19:51] remy90 opened #218 "CSS fill property makes no impact on the icon"
Summary:
I would expect an SVG to fill an icon when the "fill" property is applied.

Details:
I'm attempting to use the 'favorite' icon and provide feedback to the user when they have pressed it. The icon, by default shows the outline of a heart symbol. When the css property 'fill' is applied, I would like 'favorite' to fill with the assigned colour.

I'm unsure if this has ever worked but I've te

[2020-11-22 20:06] remy90 commented on #218
Similar to https://github.com/grommet/grommet-icons/issues/127

[2020-11-23 16:31] ShimiSun commented on #218
Here is an example of how to fill an icon color https://codesandbox.io/s/o7wjvrj3wy?file=/components/restaurant-card.js:328-523

[code]

[2020-12-14 22:46] reddypramod85 opened #220 "Spinning Icon"
Do we have a spinning icon in V2 similar to V1?

https://v1.grommet.io/docs/spinning/

[2020-12-14 22:47] ericsoderberghp commented on #220
not yet

[2020-12-14 22:56] ericsoderberghp commented on #220
Here's an approach you could take: https://v2.grommet.io/box?c=DwIQ9gHgUABDAmBLATgUwMYBdFgHYF4AiZMAd0NhgCMxl5Vl8BvAbUriZgGdF6AuGAHIAhgBtRggDQx0YUbQGDSAC0SZUU7ogBeqRQFtUSAK77BMAL6T2MTj35DltHXkxjNs+ckVVkw3PCaPLqKXPpiEpbWcAC6FpQADsLwRIYm+hRwJMYBRABmxuKZMP6I4dh4zJyYAJ4JejDEYG7qAEqIAObKmITS8MZ+FbgCAEwArAAME5bxAPQAfEA

[2020-12-17 03:01] nnurmano opened #221 "WhatsApp icon"
Did not find a whatsapp icon, could you please consider adding it?

[2021-01-27 18:15] #182 closed

[2021-01-28 21:07] ShimiSun commented on #182
The icons are available on `grommet-icons: ^4.5.0`
Thanks for reporting.

[2021-02-15 21:31] mDunner opened #222 "MetaMask icon"
I'd love to have a native grommet icon for metamask when making etherum based web apps :)  https://metamask.io/

[2021-03-12 02:36] TomasB commented on #171
@ShimiSun It's a simple search and replace across all files. Do you need help with this? Should take only minutes to fix to make them usable.

[2021-03-12 02:44] ShimiSun commented on #171
Go for it buddy, thanks!

[2021-03-12 03:14] TomasB commented on #171
I'm resetting both 'fill' and 'stroke' to be 'currentColor' so that the values can be inherited.

[2021-03-15 04:04] MXXXXXS opened #224 "[Bug] Icon "WifiLow" is not visible"
Bug reproduced here: https://codesandbox.io/s/elastic-cherry-3d4zm?file=/src/App.tsx

Seems to be caused by this line

https://github.com/grommet/grommet-icons/blob/2ee60efcb385ae6565fa5e0897e61cf3eda70c98/src/js/StyledIcon.js#L42

![demo](https://user-images.githubusercontent.com/28096993/111102146-5a2de080-8586-11eb-865b-66df94286429.png)

[2021-03-15 04:09] ShimiSun commented on #224
Which grommet-icons version are you using? I think this issue was fixed on the latest version.

[2021-03-15 04:19] MXXXXXS commented on #224
version 4.5.0

[2021-03-15 19:33] ShimiSun commented on #224
You are correct, I've verified that WifiMedium, Wifi, WifiNone are working as expected, but not WifiLow.

[2021-03-22 06:40] DanielBaird opened #225 "CaretNextFill and CaretPreviousFill are missing"
There's "big" versions of Caret pointing in the four cardinal directions, but the smaller, filled Caret variety only has up and down variants.

![image](https://user-images.githubusercontent.com/25352/111949456-7e606300-8b2c-11eb-9465-0abddc909341.png)

Can we have lefty / righty versions of Caret*Fill to go with the uppy / downy ones? I'd quite like to use CaretFill for disclosure indicators:
htt

[2021-03-31 02:33] EugeneGohh opened #226 "Spacing on right"
I have found this website doesn't look nice with the scrollbar to the right. Should we enhance the UI?

Here is the example:
![Untitled](https://user-images.githubusercontent.com/64187129/113082034-5946b100-920c-11eb-8cfb-513764d3066d.png)

[2021-03-31 16:26] ShimiSun commented on #226
@EugeneGohh Feel free to make a contribution!

[2021-03-31 17:30] EugeneGohh commented on #226
Sorry I have opened the wrong link, I opened **Github Pages** link on the deployment one instead of  **.io** link. My bad for raising this issue.

[2021-03-31 17:30] #226 closed

[2021-04-12 16:11] ShimiSun commented on #171
@TomasB Not sure what you are asking, would you like to file a contribution with the suggested fix you have in mind?

[2021-04-30 16:31] ShimiSun opened #228 "Remove codeclimate check from the build process"

[2021-05-06 08:43] naftalimurgor opened #230 "Need for Ethereum Icon"
I'm using `grommet`. I like it. I needed to use an ethereum icon from `grommet-icons` but sadly it isn't there can this be included? Thanks.

[2021-05-31 19:05] z7pz opened #234 "Discord Icon"
please add discord icon to the list.

[2021-06-01 18:03] ShimiSun commented on #234
Duplication of #126

[2021-06-01 18:03] #234 closed

[2021-06-09 17:23] ShimiSun opened #236 "Grommet-icons Release - June"
Also, explore whether grommet-icons needs its own wiki page for the release process documentation.

[2021-06-14 21:56] #236 closed

[2021-06-28 15:59] smalltimer opened #237 "gitlab Icon"
Hi,

Thank you for maintaining and sharing this fantastic library! I would like to suggest including the gitlab icon. After gitlab, it is probably the most used public repo system.

Cheers!

NOTE: I would like to add an 'enhancement' label, but can't figure out how.

[2021-07-17 06:17] Alihumza121 opened #238 "icon color is not changing in reacths"
i am using as it is
<GrIcons.GrAnnounce color="#004aff" size={18} />

[2021-08-04 06:53] tholyong opened #239 ""rem" size unit no longer support?"
Hi,

I updated from v4.4.0 to 4.6.0. The icons with the custom size prop value e.g. "1.8rem" will be rendered as "1.8px". It can't support "rem" size unit currently? It works fine in v4.4.0. My root font-size value is 1rem equals to 10px.

[2021-08-17 09:53] #159 closed

[2021-08-18 18:40] ericsoderberghp opened #243 "grommet-icons release - August"

[2021-08-23 23:44] #243 closed

[2021-08-26 16:53] taysea opened #245 "Update grommet-icons with versions exported by #1783"

[2021-08-26 18:15] taysea opened #246 "Update grommet-icons/CONTRIBUTING.md to add step about ensuring SVGs are exported as strokes #1806"
Opened in grommet/hpe-design-system

[2021-08-27 19:31] bahriaditi opened #247 "Update home.svg to match HPE design system Figma library"
[From [this Slack thread](https://hpe.slack.com/archives/C04LMJWQT/p1630078033017800
)]
Replace existing "home" icon in grommet with attached SVG.

[home.svg.zip](https://github.com/grommet/grommet-icons/files/7069051/home.svg.zip)

[2021-08-30 16:03] #230 closed

[2021-09-01 23:02] #245 closed, assigned to taysea

[2021-09-14 18:25] #246 closed

[2021-09-14 23:32] #247 closed

[2021-09-24 17:14] rodrigoea opened #253 "Keyboard icon doesn't seem to be right"
Using the official documentation for icons: https://icons.grommet.io/?s=keyboard

This is how the Keyboard icon looks like:

![image](https://user-images.githubusercontent.com/1905961/134714757-c05be8c3-499e-43a9-bedd-dffb7241f438.png)

[2021-10-01 18:24] taysea opened #255 "Investigate SVG sizing export differences for CaretFill icons"
The newly exported versions of CaretLeftFill, CaretRightFill, etc. don't match the sizes of the existing icon. We need to investigate why this is happening and re-export to match for backwards compatibility. See exports: https://github.com/grommet/hpe-design-system/issues/1783#issuecomment-925758449

Left: New export, Right: Existing icon
<img width="293" alt="Screen Shot 2021-10-01 at 9 53 18 AM"

[2021-10-12 17:06] taysea opened #257 "Icons too bolded in small size"
Caused by https://github.com/grommet/grommet-icons/pull/254. Need to look at why icons in smaller sizes are becoming too bolded:

<img width="224" alt="Screen Shot 2021-10-12 at 10 05 54 AM" src="https://user-images.githubusercontent.com/12522275/136999514-c6f72a55-09dd-47f7-988f-9087ec51aa14.png">

[2021-10-14 19:00] bahriaditi opened #258 "Re-export CaretFill and Script icon to match original size on Grommet-icons"
The CaretFill SVG/vectors in the current Figma file are simply scaled larger. The original vector dimensions were 12x6 pixels. The new export is 14.41x7.21 pixels.

The Script alignment is off because the most recent export was exported with a `height="22"` & `viewBox="0 0 24 22"` instead of  `height="24"` & `viewBox="0 0 24 24"`.

_Originally posted by @halocline in https://github.com/grommet/gro

[2021-10-14 21:19] #255 closed

[2021-10-16 19:41] ArthurSav opened #259 "HomeRounded icon"
Hey guys, has HomeRounded been released?
I saw it in https://icons.grommet.io/ and seems to be in `master` as well but the latest version `4.6.2` does not include it.

[2021-10-19 02:10] mdestafadilah opened #260 "Medical Icons"
How can i distribute for medical icons?

[2021-10-26 10:22] ahlechandre opened #261 "[Feature Request] Stack Overflow icon"
When building some kind of personal profile page we may link the Stack Overflow by using an icon, just like GitHub, LinkedIn, Facebook, etc.

[2021-10-28 20:40] #258 closed, assigned to halocline

[2021-11-01 16:52] taysea commented on #257
Resolved by https://github.com/grommet/grommet-icons/pull/262

[2021-11-01 16:52] #257 closed

[2021-11-17 21:18] trippyml opened #264 "Twitter Icon Isn't Showing in Anchor"
Thank you for this wonderful library. It looks like the Twitter icon isn't showing up in the Anchor tag when passed as an icon prop. I'm currently on version 4.6.2

[code]

[2021-11-17 21:54] jcfilben commented on #264
Hi @trippyml here is a[ codesandbox](https://codesandbox.io/s/grommet-v2-template-forked-g70pk?file=/index.js) showing the Twitter icon working in Anchor.

[2021-11-18 15:27] trippyml commented on #264
Oh, wow. I just found out that Adblock was blocking this for me. I think I have more aggressive settings set. Thanks, I'll close this.

[2021-11-18 15:27] #264 closed

[2021-11-18 16:29] eddieshowcase opened #265 "HomeRounded icon seems to be missing from exported icon library"
I see HomeRounded icon in both your Figma files and on the grommet icon website. I see the file in the source here in the repository.

However, it does NOT seem to be available or exported from the actual npm library package for use in code (we are using latest version 4.6.2).

We would like to use this icon as it seems to be the suggested and most used 'home' icon across our designs.

<img width=

[2021-11-18 16:45] eddieshowcase commented on #265
Looks like the export is just missing:

<img width="704" alt="Screen Shot 2021-11-18 at 9 45 06 AM" src="https://user-images.githubusercontent.com/7239901/142458993-441f4bfa-2014-43af-a884-f5f128fb9507.png">

[2021-11-18 17:29] eddieshowcase commented on #265
Not sure how this relates to this issue: https://github.com/grommet/grommet-icons/issues/247

Also, I created a PR for this: https://github.com/grommet/grommet-icons/pull/266

[2021-11-19 18:28] samuelgoff opened #267 "grommet-icons crashes Saturn MFE template if React upgraded to v16.8.x or 17.0.x"
`grommet-icons` (& `grommet`) crashes any app based on the [new Saturn MFE template](https://github.com/hpe-hcss/saturn-app-template) if `react` is upgraded to v`16.8.x` or `17.0.x`.

(Note that #5812 has already been filed specific to `grommet`)

### Expected Behavior
MFE developers should be able to upgrade `react` to v`16.8.x` or `17.0.x` without `grommet` or `grommet-icons` crashing the app.

[2021-11-22 21:24] jcfilben commented on #265
Closing since #266 was merged and HomeRounded is available in v4.7.0

[2021-11-22 21:24] #265 closed

[2021-12-01 22:43] jcfilben commented on #267
For anyone encountering this issue the solution is in https://github.com/grommet/grommet/issues/5812

[2021-12-01 22:43] #267 closed

[2021-12-15 12:31] Jaskiran-K opened #268 "[Icon Request] Bucket icon"
Hi,

We would like to request the addition of a new icon in the Grommet library for the storage object "Bucket".
The icon is customized from the current Paint icon in library. The purpose of the icon is to represent the storage object called Bucket/s and it is named so since it allows storage of objects and eliminates the hierarchical structure used in file storage, placing everything into a flat

[2022-01-11 21:46] jcfilben commented on #220
Closing since this can be achieved with the spinner component https://v2.grommet.io/spinner

[2022-01-11 21:46] #220 closed

[2022-01-14 02:03] calebchiam commented on #238
I was able to style it by adding a CSS class to the icon, i.e.

[code]

And in the css:
[code]

[2022-01-27 09:32] roro-lv commented on #215
+1

[2022-02-02 18:44] ecircenis opened #269 "Icpon request for cold/warm/hot storage visualization"
We need to visualize different classes of storage and having icons to represent the different classes would be useful.  A flame for hot and a snowflake for cold seem to make sense, but "warm" is a tough one (coffee cup, thermos, mittens?).  Another possibility is a thermometer (graphic, not icon) that could be placed next to metrics for the three storage classes.

![image](https://user-images.gith

[2022-02-23 18:57] mikwee opened #270 "Can't resolve 'styled-components'"
I imported two icons into my project, and got this error:
[code]
From looking at these files, it seems like a lot of them are calling folders that don't exist. What's going on?

[2022-02-23 19:04] mikwee commented on #270
Update: Even after removing the package, the project still refuses to run, citing this very package as the reason, meaning this package has inflicted damage upon my project.

[2022-02-23 19:16] halocline commented on #270
@mikwee It looks like your project is missing `styled-components` as a required dependency. Can you share your package.json? That will help confirm/reject my suspicion.

Even better, would be if you could provide a [CodeSandbox.io](https://codesandbox.io/) example replicating your setup or providing steps so that folks are able to reproduce the error you are seeing.

[2022-02-23 19:22] mikwee commented on #270
First, I would like to apologize for the update. It was just me forgetting to save.
And well, here's my `package,json`:
[code]

[2022-02-23 19:36] halocline commented on #270
Thanks. `styled-components` looks good. Now we need to re-add `grommet-icons` as a dependency, and then we need to go through the steps to reproduce the error.

I've set up a real basic Create React App [CodeSandbox](https://codesandbox.io/s/hardcore-sea-y88z6k?file=/src/App.js) and successfully imported an icon from `grommet-icons`.

[2022-02-23 19:44] mikwee commented on #270
Actually, I installed and imported those icons again, and it works just fine. Thank you for the help anyway!

[2022-02-23 19:44] #270 closed

[2022-05-09 05:31] callumfrance commented on #144
Hey, just wondering if this icon is going to be included in the repository?

[2022-05-09 05:35] callumfrance opened #273 "Humbly requesting a Boat icon"
Hello, big fan here -

Following on from https://github.com/grommet/grommet-icons/issues/144 it would be great to also get an icon of a boat added to the repository.

Useful to indicate aquatic transport, which the icons currently to not cater for to the best of my knowledge.

Thanks!

[2022-05-16 20:05] jcfilben opened #274 "Add support for weight, fill/stroke, and rounded/square"
It would be nice if grommet icons supported the following:
1. setting a weight on the icon
2. having a boolean prop that controlled if the icon svg display as fill or stroke
3. a boolean prop that controlled if the icon was rounded or square. See Home vs HomeRounded. Ideally instead of 2 icons for Home and HomeRounded there could be one icon and the round vs square could be controlled with a prop.

[2022-06-28 21:31] taysea opened #275 "Grommet Icon site renders certain icons as filled"
Gromemt icon site is rendering certain icons as filled (which would be regressions on how the icons should render). However, I'm not seeing that issue on Design System site (which pulls in the stable branch of grommet icons).

site:
<img width="173" alt="Screen Shot 2022-06-28 at 2 30 59 PM" src="https://user-images.githubusercontent.com/12522275/176301798-a565fa96-738c-40e8-872b-dbcaf8458c67.png"

[2022-06-28 22:13] halocline commented on #275
`<CircleAlert />` was another I ran into. It rendered properly in Codesandbox using most recent release (i.e. not stable), so potentially related to the Icons site?

[2022-06-28 22:14] taysea commented on #275
Agreed that is feels potentially isolated to icons site.

[2022-06-28 22:42] jcfilben commented on #275
related issue: https://github.com/grommet/grommet-icons/issues/253

[2022-06-28 22:44] jcfilben commented on #275
I attempted to upgrade the yarn.lock on grommet-icons-site locally to ensure that it was fetching that latest versions of grommet stable and grommet-icons stable but the issue is still persisting

[2022-06-29 19:13] jcfilben commented on #275
The problem is that when some icons have `color='plain'` they become filled in. On grommet site we are setting all the icons to have `color='plain'`. See codesandbox: https://codesandbox.io/s/grommet-v2-template-forked-qm322x?file=/index.js

[2022-07-25 09:34] vldmr1986 opened #278 "Icon for "Data Management""
The new design has an icon that I could not find<img width="340" alt="Screenshot 2022-07-25 at 11 28 16" src="https://user-images.githubusercontent.com/17574496/180746329-da4827be-616a-4aae-8e71-96ed8a9d52a0.png">

[2022-07-28 06:55] KennyAtHPE opened #279 "Missing icons"
Currently missing these icons in Grommet (exists within our Figma library):

- FormActions
![actions](https://user-images.githubusercontent.com/86075038/181440399-0fae0d41-302e-427d-978e-a27035263209.svg)

- AppsRounded (unfilled)
![apps](https://user-images.githubusercontent.com/86075038/181440379-021111d2-54b7-4447-a284-09f065c4237c.svg)

- FormCalendar
![calendar](https://user-images.githubuser

[2022-07-28 15:22] jcfilben commented on #278
Hi @vldmr1986 this icon is the `Gateway` icon. You can see it in use here: https://codesandbox.io/s/grommet-v2-template-forked-5hwy6o?file=/index.js. This icon isn't showing up correctly on the grommet icons site which is why I'm guessing it was difficult to find. We have a separate issue open for icons not displaying correctly on the site https://github.com/grommet/grommet-icons/issues/275.

[2022-08-07 18:47] vldmr1986 commented on #278
@jcfilben  Thank you

[2022-08-07 18:47] #278 closed

[2022-08-16 14:19] mshepel commented on #275
@jcfilben Some 'status' icons (https://icons.grommet.io/?s=status) are filled even with no `color="plain"` prop passed. See https://codesandbox.io/s/grommet-v2-template-forked-ifqwhq?file=/index.js. The example of impact are icons inside the toast notifications: https://design-system.hpe.design/templates/toast-notifications?q=toast

[2022-08-16 14:28] jcfilben commented on #275
Hi @mshepel so when using the small version of status icons, these are intentionally filled. So I think the behavior shown in the codesandbox and notifications page is correct. See the 'Filled' section on the icons figma file for more info https://www.figma.com/file/G99KGffGLFKICy8xRs51lW/HPE-Icons?node-id=582%3A6

[2022-09-15 16:05] lukaw3d opened #285 "Accessibility of custom icons"
https://github.com/grommet/grommet-icons/blob/d5839aec95cf46ea1d4d1bd91a9a2732407e10b8/README.md?plain=1#L28-L43

README suggests this for creating custom icons, but [`<Blank` is aria-hidden](https://github.com/grommet/grommet-icons/blob/d5839aec95cf46ea1d4d1bd91a9a2732407e10b8/src/js/icons/Blank.js#L5-L7) by default. See generated HTML from `<MyIcon />` vs `<Radial />`:
[code]

---

README should

[2022-09-20 15:59] ShimiSun opened #286 "CircleAlert is rendering different icon than the site displays"
Circle Alert from the icon's [website ](https://icons.grommet.io/?s=circle)
![image](https://user-images.githubusercontent.com/6320236/191307030-43fdebc5-355b-444c-980f-491ed75cfcd6.png)

Rendering in development (ignore the color)
![image](https://user-images.githubusercontent.com/6320236/191307253-de796613-6585-4002-9159-96e1f8ec2cd1.png)

[2022-09-20 16:22] jcfilben commented on #286
Related to https://github.com/grommet/grommet-icons/issues/275

[2022-09-20 17:05] ShimiSun commented on #286
FYI, when I use `color="plain"` it does show as the website. But then I don't have control over the selected color.

[2022-10-21 16:33] ericsoderberghp opened #287 "Change to have viewbox fit the graphic"
Rather than have all icon viewboxes be 24x24, change them to align with the edges of the graphic in each icon. This will make it easier for CSS to drive visual alignment, especially vertically.

This might be doable programmatically, by scanning each file, checking placement of the paths and shapes, and then setting the viewbox coordinates accordingly, followed by visual inspection to make sure it